@use '../../_helpers/colors' as color;

$button-theme-light: (
	'grey': (
		static: (
			border: color.$haze,
			background: color.$haze,
			color: color.$grey
		),
		hover: (
			border: color.$grey,
			background: color.$grey,
			color: color.$white
		),
		focus: (
			border: color.$overcast,
			background: color.$grey,
			color: color.$white
		)
	),
	'blue': (
		static: (
			border: color.$blue-ghost,
			background: color.$blue-ghost,
			color: color.$blue
		),
		hover: (
			border: color.$blue,
			background: color.$blue,
			color: color.$white
		),
		focus: (
			border: color.$blue-ghost,
			background: color.$blue,
			color: color.$white
		)
	),
	'red': (
		static: (
			border: color.$red-ghost,
			background: color.$red-ghost,
			color: color.$red
		),
		hover: (
			border: color.$red,
			background: color.$red,
			color: color.$white
		),
		focus: (
			border: color.$red-ghost,
			background: color.$red,
			color: color.$white
		)
	),
	'purple': (
		static: (
			border: color.$purple-ghost,
			background: color.$purple-ghost,
			color: color.$purple
		),
		hover: (
			border: color.$purple,
			background: color.$purple,
			color: color.$white
		),
		focus: (
			border: color.$purple-ghost,
			background: color.$purple,
			color: color.$white
		)
	),
	'green': (
		static: (
			border: color.$green-ghost,
			background: color.$green-ghost,
			color: color.$green
		),
		hover: (
			border: color.$green,
			background: color.$green,
			color: color.$white
		),
		focus: (
			border: color.$green-ghost,
			background: color.$green,
			color: color.$white
		)
	),
);

// mono color styling for buttons
$light-monostyle: (
	static: (
		border: color.$smoke,
		background: color.$smoke,
		color: color.$black
	),
	hover: (
		border: color.$grey,
		background: color.$grey,
		color: color.$white
	),
	focus: (
		border: color.$overcast,
		background: color.$grey,
		color: color.$white
	)
);

$button-theme-light-mono: (
	'grey': $light-monostyle,
	'blue': $light-monostyle,
	'red': $light-monostyle,
	'purple': $light-monostyle,
	'green': $light-monostyle,
);