@use '../../_helpers/colors' as color;

$button-theme-ghost: (
	'grey': (
		static: (
			border: color.$overcast,
			color: color.$grey
		),
		hover: (
			border: color.$grey,
			background: color.$grey,
			color: color.$white
		),
		focus: (
			border: color.$overcast,
			background: color.$grey,
			color: color.$white
		)
	),
	'blue': (
		static: (
			border: color.$blue-ghost,
			color: color.$blue
		),
		hover: (
			border: color.$blue,
			background: color.$blue,
			color: color.$white
		),
		focus: (
			border: color.$blue-ghost,
			background: color.$blue,
			color: color.$white
		)
	),
	'red': (
		static: (
			border: color.$red-ghost,
			color: color.$red
		),
		hover: (
			border: color.$red,
			background: color.$red,
			color: color.$white
		),
		focus: (
			border: color.$red-ghost,
			background: color.$red,
			color: color.$white
		)
	),
	'purple': (
		static: (
			border: color.$purple-ghost,
			color: color.$purple
		),
		hover: (
			border: color.$purple,
			background: color.$purple,
			color: color.$white
		),
		focus: (
			border: color.$purple-ghost,
			background: color.$purple,
			color: color.$white
		)
	),
	'green': (
		static: (
			border: color.$green-ghost,
			color: color.$green
		),
		hover: (
			border: color.$green,
			background: color.$green,
			color: color.$white
		),
		focus: (
			border: color.$green-ghost,
			background: color.$green,
			color: color.$white
		)
	),
	'black': (
		static: (
			border: color.$black,
			color: color.$black
		),
		hover: (
			border: color.$black,
			background: color.$silver,
			color: color.$black
		),
		focus: (
			border: color.$black,
			background: color.$black,
			color: color.$white
		),
		disabled: (
			border: color.$silver,
			background: color.$silver,
			color: color.$fiftyshades
		)
	),
);