@use '../../_helpers/colors' as color;

$button-theme-solid: (
	'grey': (
		static: (
			border: color.$grey,
			background: color.$grey,
			color: color.$white
		),
		hover: (
			border: color.$ironmike,
			background: color.$ironmike
		),
		focus: (
			border: color.$overcast,
			background: color.$ironmike
		)
	),
	'blue': (
		static: (
			border: color.$blue,
			background: color.$blue,
			color: color.$white
		),
		hover: (
			border: color.$blue-dark,
			background: color.$blue-dark
		),
		focus: (
			border: color.$blue-ghost,
			background: color.$blue-dark
		)
	),
	'red': (
		static: (
			border: color.$red,
			background: color.$red,
			color: color.$white
		),
		hover: (
			border: color.$red-dark,
			background: color.$red-dark
		),
		focus: (
			border: color.$red-ghost,
			background: color.$red-dark
		)
	),
	'purple': (
		static: (
			border: color.$purple,
			background: color.$purple,
			color: color.$white
		),
		hover: (
			border: color.$purple-dark,
			background: color.$purple-dark
		),
		focus: (
			border: color.$purple-ghost,
			background: color.$purple-dark
		)
	),
	'green': (
		static: (
			border: color.$green,
			background: color.$green,
			color: color.$white
		),
		hover: (
			border: color.$green-dark,
			background: color.$green-dark
		),
		focus: (
			border: color.$green-ghost,
			background: color.$green-dark
		)
	),
	'black': (
		static: (
			border: color.$black,
			background: color.$black,
			color: color.$white
		),
		hover: (
			border: color.$ironmike,
			background: color.$ironmike
		),
		focus: (
			border: color.$silver,
			background: color.$ironmike
		),
		disabled: (
			border: color.$silver,
			background: color.$silver,
			color: color.$fiftyshades
		)
	),
);