@include body-class(true) {

	.sui-accordion {

		// Must use in conjunction with .sui-table on the <table> element.
		&.sui-table {

			tbody {
	
				.sui-accordion-item {
					cursor: pointer;
	
					th, td {
						transition: background-color 0.2s;
					}
		
					.sui-accordion-open-indicator {
						float: right;
						margin-left: 10px;
		
						[class*="sui-icon-"] {
							display: block;
							margin-right: 0;
							font-size: 12px;
						}
					}
	
					&:hover,
					&:focus {
	
						th, td {
							background-color: $accordion--content-bg-color;
						}
					}
		
					// Open content
					&.sui-accordion-item--open {
	
						th, td {
							border-bottom-color: $accordion--content-bg-color;
							background-color: $accordion--content-bg-color;
						}
	
						.sui-accordion-open-indicator i {
							transform: rotate(180deg);
						}
	
						&.sui-error,
						&.sui-warning,
						&.sui-success {
	
							th, td {
								box-shadow: none;
							}
						}
		
						+ .sui-accordion-item-content {
							display: table-row;
						}
					}
				}
		
				.sui-accordion-item-content {
					display: none;
					background-color: $accordion--content-bg-color;
	
					th, td {
						padding: 0 $sui-gutter-md $sui-gutter-md;
	
						@include media(min-width, md) {
							padding: 0 $sui-gutter $sui-gutter;
						}
					}
				}
			}
		}
	}
}