@include body-class {

	// Must use in conjunction with .sui-table on the <table> element.
	.sui-accordion {
		border: 0;

		&:after {
			content: "";
			display: table;
			margin-bottom: $sui-gutter;
		}
	}

	.sui-accordion-item {
		display: table-row;
		vertical-align: middle;
		cursor: pointer;
		transition: background-color .2s;
		border-left: 2px solid transparent;

		+ .sui-accordion-item-content {
			border-left: 2px solid transparent;
		}

		&.sui-success {
			color: inherit;
			border-color: $success;
			i:before {
				color: inherit;
			}

			+ .sui-accordion-item-content {
				border-color: $success;
			}
		}

		&.sui-warning {
			color: inherit;
			border-color: $warning;
			i:before {
				color: inherit;
			}

			+ .sui-accordion-item-content {
				border-color: $warning;
			}
		}

		&.sui-error {
			color: inherit;
			border-color: $error;
			i:before {
				color: inherit;
			}

			+ .sui-accordion-item-content {
				border-color: $error;
			}
		}

		&:hover,
		&:focus {
			background-color: $accordion--content-bg-color;
		}

		td {
			padding: 15px 30px;
			@include media( max-width, md ) {
				padding: 15px $sui-gutter-md;
			}
		}

		td > * {
			vertical-align: middle;
		}

		&--open td {
			background-color: $accordion--content-bg-color;
			border-bottom: 1px solid $accordion--content-bg-color;
		}

		&--open + .sui-accordion-item-content {
			display: table-row;
		}

		&--open .sui-accordion-open-indicator i {
			transform: rotate(180deg);
		}
	}

	.sui-accordion-open-indicator {
		float: right;
		text-align: center;

		i {
			transform-origin: center;
			font-size: 10px;
			color: $accordion--open-indicator-color;
			transition: .5s;

			&:before {
				position: relative;
				top: 2px;
			}
		}
	}

	.sui-accordion-item-title {
		font-size: 15px;

		i {
			font-size: 20px;
			margin-right: 10px;
		}
	}

	.sui-accordion-item-content {
		display: none;
		background-color: $accordion--content-bg-color;
		border-top: 0;

		td {
			width: 100%;
			padding: 0 30px 30px 30px;

			@include media( max-width, md ) {
				padding: 0 $sui-gutter-md $sui-gutter-md $sui-gutter-md;
			}
		}

		.sui-box {
			margin-bottom: 0;
		}
	}

}
