@include body-class(true) {

	.sui-box-body {

		// ELEMENT: Row
		.sui-box-settings-row {
			position: relative;
			margin-bottom: $sui-gutter;
			padding-bottom: $sui-gutter;
			border-bottom: 1px solid palette(silver, soft);

			[class*="sui-box-settings-col-"] {

				+ div {

					@include media(max-width, md) {
						padding-top: $sui-gutter-md;
					}
	
					@include media(min-width, md) {
						margin-left: $sui-gutter;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom-width: 0;
			}

			// STATUS: Disable
			&.sui-disabled {
				opacity: 0.5;
				pointer-events: none;
				background-color: rgba(242, 242, 242, 0.5);
			}

			// VARIATION: Flushed
			&.sui-flushed {
				margin-right: -#{$sui-gutter-md};
				margin-left: -#{sui-gutter-md};
				padding-right: $sui-gutter-md;
				padding-left: $sui-gutter-md;

				@include media(min-width, md) {
					margin-right: -#{$sui-gutter};
					margin-left: -#{$sui-gutter};
					padding-right: $sui-gutter;
					padding-left: $sui-gutter;
				}
			}

			@include media(min-width, md) {
				display: flex;
			}
		}

		// ELEMENT: Row (Slim)
		.sui-box-settings-slim-row {
			position: relative;
			margin-bottom: $sui-gutter-md;

			[class*="sui-box-settings-col-"] {

				+ div {

					@include media(max-width, md) {
						padding-top: $sui-gutter-md;
					}
	
					@include media(min-width, md) {
						margin-left: $sui-gutter;
					}
				}
			}

			.sui-settings-label {

				&:only-child {

					@include media(min-width, md) {
						margin: 5px 0;
						line-height: 30px;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			@include media(min-width, md) {
				display: flex;
			}
		}

		// ELEMENT: Fixed width content
		.sui-box-settings-col-1 {
			max-width: 200px;
			flex: 0 1 200px;

			.sui-settings-label {
				color: palette(gray, dark);
			}
		}

		// ELEMENT: Adjustable content
		.sui-box-settings-col-2 {

			@include media(min-width, md) {
				min-width: 0;
				flex: 1;
			}
		}

		// ELEMENT: Label
		.sui-settings-label {
			display: block;
			margin: 0 0 5px;
			padding: 0;
			border: 0;
			color: palette(gray, default);
			font: 500 15px/22px $font;
			letter-spacing: $font--letter-spacing;

			&:last-child {
				margin: 0;
			}

			&.sui-dark {
				color: palette(gray, dark);
			}

			&-with-tag {
				@extend .sui-settings-label;
				display: flex;
				align-items: center;

				.sui-tag {
					margin-left: 10px;
				}
			}
		}

		// Element: Description
		.sui-description {
			line-height: 22px;

			+ .sui-settings-box {
				margin-top: 10px;
			}
		}

		// FIX: Upsell
		&.sui-upsell-items {

			.sui-box-settings-row {
				margin-top: 0;
				padding-top: #{$sui-gutter-md + 1px};
				padding-right: $sui-gutter-md;
				padding-left: $sui-gutter-md;
				border-bottom: none;

				&:before {
					content: '';
					height: 1px;
					clear: both;
					display: block;
					position: absolute;
					top: 0;
					right: 30px;
					left: 30px;
					background-color: palette(silver, soft);
				}

				&:first-child,
				&:first-of-type {
					margin-top: 0;

					&:before {
						content: unset;
					}
				}

				&:last-child,
				&:last-of-type {
					padding-bottom: 30px;

					&:before {
						content: unset;
					}

					@include media(max-width, md) {
						padding-top: $sui-gutter-md;
					}
				}

				@include media(min-width, md) {
					padding-top: #{$sui-gutter + 1px};
					padding-right: $sui-gutter;
					padding-left: $sui-gutter;
				}
			}
		}
	}
}