@include body-class {

	.sui-wrap * {
		box-sizing: border-box;
	}

	.sui-wrap *:before,
	.sui-wrap *:after {
		box-sizing: border-box;
	}

	.sui-box {
		position: relative;
		min-height: 20px;
		background-color: $box-bg-color;
		border-radius: 5px;
		margin-bottom: $sui-gutter;
		box-shadow: 0 2px 0 $box-box-shadow-color;

		@include media( max-width, md ) {
			margin-bottom: $sui-gutter-md;
		}
	}

	.sui-box-header {
		border-bottom: 1px solid $box-header-border-color;
		padding: 15px 30px;
		display: flex;
		align-items: center;

		@include media( max-width, md ) {
			padding: 15px $sui-gutter-md;
		}

		& > h3 > i {
			line-height: 30px;
		}
	}

	.sui-box-body {
		padding: 30px;

		@include media( max-width, md ) {
			padding: $sui-gutter-md;
		}

		.sui-box-settings-row {
			position: relative;
			border-bottom: 1px solid #E6E6E6;
			padding-bottom: 30px;
			display: table;
			width: 100%;
			margin-top: 30px;

			@include media(max-width, md) {
				display: block;
				margin-top: $sui-gutter-md;
				padding-bottom: $sui-gutter-md;
			}

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				padding-bottom: 0;
				border: 0;
			}

			.sui-box-settings-col-1 {
				display: table-cell;
				width: 230px;
				padding-right: 30px;

				@include media(max-width, md) {
					display: block;
					padding-top: $sui-gutter-md;
					width: 100%;
					padding-right: 0;

					&:first-child {
						padding-top: 0;
					}
				}
			}

			.sui-box-settings-col-2 {
				display: table-cell;


				@include media(max-width, md) {
					display: block;
					padding-top: $sui-gutter-md;
				}

				.sui-settings-label {
					color: $gray;
				}
			}

			.sui-form-field {
				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.sui-settings-label {
				font-weight: 500;
				line-height: 22px;
				color: $box-settings-label-color;
			}

			.sui-description {
				line-height: 22px;
			}

			&.sui-disabled {
				background-color: rgba(242, 242, 242, 0.5);
				opacity: 0.5;
				pointer-events: none;
			}
		}

		&.sui-upsell-items {
			padding: 0;

			.sui-box-settings-row {
				border-bottom: none;
				margin-top: 0;

				&:before {
					position: absolute;
					display: block;
					clear: both;
					height: 1px;
					content: '';
					background-color: #E6E6E6;
					left: 30px;
					right: 30px;
					top: 0;

				}

				&:first-of-type {
					margin-top: 0;

					&:before {
						display: none;
					}
				}

				&:last-of-type {
					padding-bottom: 30px;

					&:before {
						display: none;
					}
				}
			}

			.sui-box-settings-row {
				padding-right: 30px;
				padding-left: 30px;
				padding-top: 31px;

				@include media(max-width, md) {
					padding-right: $sui-gutter-md;
					padding-left: $sui-gutter-md;
					padding-top: $sui-gutter-md + 1;
				}
				&:first-of-type {
					@include media(max-width, md) {
						padding-top: $sui-gutter-md;
					}
				}
			}
		}

		.sui-upsell-row {
			position: relative;

			.sui-upsell-image {
				position: absolute;
				bottom: 0;
				width: 100px;
				@include media(max-width, md) {
					display: none;
				}
			}

			.sui-upsell-notice {
				padding-left: 130px;

				@include media(max-width, md) {
					padding-left: 0;
				}

				p {
					position: relative;
					border-radius: 4px;
					background-color: $box-upsell-p-bg-color;
					padding: 20px 30px;
					color: $box-upsell-p-color;
					font-size: 13px;
					line-height: 22px;

					&:after {
						position: absolute;
						top: 43%;
						left: 0;
						margin-left: -7px;
						content: '';
						width: 0;
						height: 0;
						border-top: 7px solid transparent;
						border-bottom: 7px solid transparent;
						border-right: 7px solid $box-upsell-p-bg-color;

						@include media(max-width, md) {
							display: none;
						}
					}

					a {
						color: $box-upsell-p-color;
						text-decoration: underline;
						font-weight: 500;
					}
				}
			}
		}

		.sui-settings-box {
			padding: 30px;
			border: 1px solid $box-settings-box-border-color;
			border-radius: 5px;
			@include media(max-width, md) {
				padding: $sui-gutter-md;
			}
		}
	}

	.sui-box-footer {
		border-top: 1px solid $box-footer-border-color;
		padding: 30px;
		display: flex;
		align-items: center;
		&.sui-pull-up {
			margin-top: -15px;
		}

		@include media( max-width, md ) {
			padding: $sui-gutter-md;
		}
	}

	.sui-box-title {
		display: block;
		font-weight: $font--weight-bold;
		font-size: 15px;
		line-height: 30px;
		font-family: $font;
		margin: 0;
		@include text-truncate;

		* {
			vertical-align: middle;
		}

		i {
			margin-right: 10px;
			display: block;
			float: left;
			&:before {
				color: inherit;
				font-size: 20px;
				vertical-align: text-bottom;
			}
		}
	}
	h3.sui-box-title {
		text-transform: none;
	}
	.sui-with-bottom-border {
		padding-bottom: $default-padding;
		border-bottom: 1px solid $box-settings-box-border-color;
		margin-bottom: $default-margin;

		@include media( max-width, md ) {
			margin-bottom: $sui-gutter-md;
			padding-bottom: $sui-gutter-md;
		}
	}
	.sui-border-frame {
		border: 1px solid #E6E6E6;
		border-radius: 5px;
		margin: 10px 0 0;
		padding: 30px;
		@include media( max-width, md ) {
			padding: $sui-gutter-md;
		}
	}
}
