/* Buttons */

.sui .sui-button {
  min-width: 80px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 7px 16px;
  margin: 0 20px 0 0;
  border: 0;
  background-color: $color-gray--light;
  transform-style: preserve-3d;
  color: $color-white;
  font: 400 12px/16px $font;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  text-shadow: none;

  .sui-loading {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px;
  }

  .sui-loading-text {
	pointer-events: none;
  }

  &:hover,
  &:focus {
	outline: none;
	background: $color-gray--light-darker;
	border-color: $color-gray--light-darker;
  }

  &:focus,
  &:active {
	outline: none;
	box-shadow: none;
	background: $color-gray--light-darker;
	border-color: $color-gray--light-darker;
  }

  &.sui-button-blue {
	background: $color-blue;

	&:hover,
	&:focus {
	  background: $color-blue--dark;
	}
  }

  &.sui-button-red {
	background: $color-red--light;

	&:hover,
	&:focus {
	  opacity: 1;
	  background: $color-red;
	}
  }

  &.sui-button-ghost {
	padding: 0 18px;
	padding-bottom: 2px;
	border: 2px solid $color-gray--light;
	background: transparent;
	color: $color-gray--light;
	line-height: 38px;

	&:hover,
	&:focus {
	  border-color: $color-gray--light;
	  background: $color-gray--light;
	  color: $color-white;
	}

	&.sui-button-blue {
	  border-color: $color-blue;
	  color: $color-blue;

	  &:hover,
	  &:focus {
		border-color: $color-blue;
		background: $color-blue;
		color: $color-white;
	  }
	}

	&.sui-button-red {
	  border-color: $color-red--light;
	  color: $color-red--light;

	  &:hover,
	  &:focus {
		opacity: 1;
		border-color: $color-red;
		background: $color-red;
		color: $color-white;
	  }
	}
  }

  &.sui-button-sm {
	height: 30px;
	padding: 0 16px;
	border-radius: 4px;
	font: 400 12px/30px $font--alt;

	&.sui-button-ghost {
	  padding: 0 14px;
	  padding-bottom: 2px;
	  line-height: 28px;
	}
  }

  &.sui-button-onload {
	pointer-events: none;

	.sui-loading {
	  display: block;
	}

	&,
	&.sui-button-blue,
	&.sui-button-red {
	  background: $color-silver--soft;

	  .sui-loading-text {
		color: $color-silver--soft;
	  }
	}
	&.sui-button-ghost {
	  border-color: $color-silver--soft;
	  background: transparent;

	  .sui-loading-text {
		color: transparent;
	  }
	}
  }

  &:last-child {
	margin: 0;
  }
}
