// Buttons

@include body-class {
	.sui-button {
		min-width: 80px;
		height: 30px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding: 7px 16px;
		margin: 0 10px 0 0;
		border: 0;
		background-color: $button-bg-color;
		color: $white;
		font: 400 12px/16px $font;
		letter-spacing: -.025em;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		border-radius: 3px;
		-moz-border-radius: 3px;
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		text-shadow: none;

		.sui-loading {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -8px;
		}

		.sui-loading-text {
			pointer-events: none;
		}

		&:hover,
		&:focus {
			outline: none;
			background: $button-action-bg-color;
			border-color: $button-action-bg-color;
		}

		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
			background: $button-action-bg-color;
			border-color: $button-action-bg-color;
		}

		&.sui-button-primary,
		&.sui-button-blue {
			background: $button-blue-bg-color;

			&:hover,
			&:focus {
				background: $button-blue-action-bg-color;
			}
		}

		&.sui-button-red {
			background: $button-red-bg-color;

			&:hover,
			&:focus {
				opacity: 1;
				background: $button-red-action-bg-color;
			}
		}

		&.sui-button-green {
			background: $button-green-bg-color;

			&:hover,
			&:focus {
				opacity: 1;
				background: $button-green-action-bg-color;
			}
		}

		&.sui-button-ghost {
			padding: 5px 16px 7px;
			border: 2px solid $button-ghost-border-color;
			background: transparent;
			color: $button-ghost-color;

			&:hover,
			&:focus {
				border-color: $button-ghost-action-border-color;
				background: $button-ghost-action-bg-color;
				color: $white;
			}

			&.sui-button-blue {
				border-color: $blue;
				color: $blue;

				&:hover,
				&:focus {
					border-color: $blue;
					background: $blue;
					color: $white;
				}
			}

			&.sui-button-red {
				border-color: $button-red-action-bg-color;
				color: $button-red-action-bg-color;

				&:hover,
				&:focus {
					opacity: 1;
					border-color: $red;
					background: $red;
					color: $white;
				}
			}

			&.sui-button-green {
				border-color: $green;
				color: $green;

				&:hover,
				&:focus {
					opacity: 1;
					border-color: $button-green-action-bg-color;
					background: $button-green-action-bg-color;
					color: $white;
				}
			}
		}

		&.sui-button-lg {
			height: 40px;
			padding: 11px 20px 9px;
			border-radius: $border-radius;
			font: 500 15px/20px $font;

			&.sui-button-ghost {
				padding: 9px 20px 9px;
			}
		}

		&.sui-button-onload {
			pointer-events: none;

			.sui-loading {
				display: block;
			}

			&,
			&.sui-button-blue,
			&.sui-button-green,
			&.sui-button-red {
				background: $button-onload-color;

				.sui-loading-text {
					color: $button-onload-color;
				}
			}
			&.sui-button-ghost {
				border-color: $button-onload-color;
				background: transparent;

				.sui-loading-text {
					color: transparent;
				}
			}
		}

		&.disabled,
		&.disabled:hover,
		&.disabled:focus {
			color: $button-disabled-color;
			border-color: $button-disabled-border-color;
			background: $button-disabled-bg-color;
			box-shadow: none;
			text-shadow: 0 1px 0 $white;
			cursor: default;
			-webkit-transform: none;
			transform: none;
		}

		&:last-child {
			margin: 0;
		}
	}
}
