/* Buttons */

.sui .sui-button {
  min-width: 80px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 7px 16px;
  margin: 0 20px 0 0;
  border: 0;
  background-color: $color-gray--light;
  transform-style: preserve-3d;
  color: $color-white;
  font: 400 12px/16px $font;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  text-shadow: none;

  .sui-loading {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px;
  }

  .sui-loading-text {
	pointer-events: none;
  }

  &:hover,
  &:focus {
	outline: none;
	background: $color-gray--light-darker;
	border-color: $color-gray--light-darker;
  }

  &:focus,
  &:active {
	outline: none;
	box-shadow: none;
	background: $color-gray--light-darker;
	border-color: $color-gray--light-darker;
  }

  &.sui-button-primary,
  &.sui-button-blue {
	background: $color-blue;

	&:hover,
	&:focus {
	  background: $color-blue--darker;
	}
  }

  &.sui-button-red {
	background: $color-red--light;

	&:hover,
	&:focus {
	  opacity: 1;
	  background: $color-red;
	}
  }

  &.sui-button-green {
	background: $color-green;

	&:hover,
	&:focus {
	  opacity: 1;
	  background: $color-green--dark;
	}
  }

  &.sui-button-ghost {
	padding: 5px 16px 7px;
	border: 2px solid $color-gray--lighter;
	background: transparent;
	color: $color-gray--light;

	&:hover,
	&:focus {
	  border-color: $color-gray--light;
	  background: $color-gray--light;
	  color: $color-white;
	}

	&.sui-button-blue {
	  border-color: $color-blue;
	  color: $color-blue;

	  &:hover,
	  &:focus {
		border-color: $color-blue;
		background: $color-blue;
		color: $color-white;
	  }
	}

	&.sui-button-red {
	  border-color: $color-red--light;
	  color: $color-red--light;

	  &:hover,
	  &:focus {
		opacity: 1;
		border-color: $color-red;
		background: $color-red;
		color: $color-white;
	  }
	}

	&.sui-button-green {
	  border-color: $color-green;
	  color: $color-green;


	  &:hover,
	  &:focus {
		opacity: 1;
		border-color: $color-green--dark;
		background: $color-green--dark;
		color: $color-white;
	  }
	}
  }

  &.sui-button-lg {
	height: 40px;
	padding: 11px 20px 9px;
	border-radius: $border-radius;
	font: 500 15px/20px $font;

	&.sui-button-ghost {
	  padding: 9px 20px 9px;
	}

	&:before,
	&:after {
	  font-size: 16px;
	  line-height: 22px;
	  top: -3px;
	}
  }

  &.sui-button-onload {
	pointer-events: none;

	.sui-loading {
	  display: block;
	}

	&,
	&.sui-button-blue,
	&.sui-button-red {
	  background: $color-silver--soft;

	  .sui-loading-text {
		color: $color-silver--soft;
	  }
	}
	&.sui-button-ghost {
	  border-color: $color-silver--soft;
	  background: transparent;

	  .sui-loading-text {
		color: transparent;
	  }
	}
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
	color: $color-button-font--disabled;
	border-color: $color-gray--lighter;
	background: $color-button-background--disabled;
	box-shadow: none;
	text-shadow: 0 1px 0 $color-white;
	cursor: default;
	-webkit-transform: none;
	transform: none;
  }

  &:last-child {
	margin: 0;
  }

  &:before,
  &:after {
	font-size: 12px;
	vertical-align: middle;
	line-height: 16px;
	top: -2px;
	position: relative;
  }

  &:before {
	margin-right: 5px;
  }

  &:after {
	margin-left: 5px;
  }

}
