// Colors
$palettes: (
	mono: (
		default: #000000,
		black:   #000000,
		white:   #FFFFFF,
	),
	gray: (
		default: #666666,
		lighter: #DDDDDD,
		light:   #888888,
		medium:  #7B7B7B,
		dark:    #333333,
		alt:     #777771,
	),
	silver: (
		default: #F2F2F2,
		light:   #F8F8F8,
		soft:    #E6E6E6,
		medium:  #AAAAAA,
		alt:     #EAEAEA,
	),
	blue: (
		default: #17A8E3,
		light:   #D2F0FF,
		soft:    #E1F6FF,
		medium:  #0A9BD6,
	),
	red: (
		default: #C40000,
		lighter: #FFE5E9,
		light:   #CB4B57,
		soft:    #FF7F83,
	),
	yellow: (
		default: #FECF2F,
		light:   #FFF5D5,
	),
	green: (
		default: #1ABC9C,
		soft:    #D1F1EA,
		medium:  #148F77,
	)
) !default;

$success:                               palette(green)                !default;
$warning:                               palette(yellow)               !default;
$error:                                 palette(red, soft)            !default;
$info:                                  palette(blue)                 !default;

// Primary Colors
$white:                                 palette(mono, white)          !default;
$black:                                 palette(mono, black)          !default;
$gray:                                  palette(gray)                 !default;
$gray-alt:                              palette(gray, dark)           !default;
$blue:                                  palette(blue)                 !default;
$red:                                   palette(red)                  !default;
$green:                                 palette(green)                !default;
$silver:                                palette(silver)               !default;

// Boxes Colors (_boxes.scss)
$box-bg-color:                          palette(mono, white)          !default;
$box-box-shadow-color:                  palette(silver, alt)          !default;
$box-header-border-color:               palette(silver, alt)          !default;
$box-footer-border-color:               palette(silver, alt)          !default;
$box-settings-box-border-color:         palette(silver, soft)         !default;
$box-settings-label-color:              palette(gray, dark)           !default;
$box-upsell-p-color:                    palette(gray, dark)           !default;
$box-upsell-p-bg-color:                 palette(blue, soft)           !default;

// Buttons Colors (_buttons.scss)
// Default Button
$button-bg-color:                       palette(gray, light)          !default;
$button-action-bg-color:                palette(gray, medium)         !default;

// Blue Button
$button-blue-bg-color:                  palette(blue)                 !default;
$button-blue-ghost-color:               palette(blue)                 !default;
$button-blue-action-bg-color:           palette(blue, medium)         !default;

// Red Button
$button-red-bg-color:                   palette(red, light)           !default;
$button-red-action-bg-color:            palette(red)                  !default;

// Green Button
$button-green-bg-color:                 palette(green)                !default;
$button-green-action-bg-color:          palette(green, medium)        !default;

// Ghost Button
$button-ghost-border-color:             palette(gray, lighter)        !default;
$button-ghost-color:                    palette(gray, light)          !default;
$button-ghost-action-border-color:      palette(gray, light)          !default;
$button-ghost-action-bg-color:          palette(gray, light)          !default;

// Onload Button
$button-onload-color:                   palette(silver, soft)         !default;

// Disabled Button
$button-disabled-color:                 palette(silver, medium)       !default;
$button-disabled-border-color:          palette(gray, lighter)        !default;
$button-disabled-bg-color:              palette(silver, light)        !default;

// Toggles Colors (_toggles.scss)
$toggle-slider-bg-color:                palette(silver, light)        !default;
$toggle-slider-before-bg-color:         palette(gray, light)          !default;
$toggle-slider-before-checked-bg-color: palette(blue)                 !default;
$toggle-slider-border-color:            palette(silver, soft)         !default;

// Typography Colors (_typography.scss)
$headings-color:                        palette(gray, dark)           !default;
$font-color:                            $gray !default;
$p-small-color:                         palette(gray, light)          !default;
$a-color:                               palette(blue)                 !default;
$a-action-color:                        palette(blue, medium)         !default;
$a-disabled-color:                      palette(gray, light)          !default;
$code-bg-color:                         palette(silver, light)        !default;
$code-border-color:                     palette(silver, soft)         !default;
$dfn-border-color:                      palette(gray, light)          !default;
$pre-color:                             palette(gray, dark)           !default;

// Notifications Colors (_notifications.scss)
$notice-font-color:                     palette(gray, dark)           !default;
$notice-default-bg-color:               palette(silver)               !default;
$notice-default-icon-color:             palette(gray, light)          !default;
$notice-warning-bg-color:               palette(yellow, light)        !default;
$notice-warning-icon-color:             $warning                      !default;
$notice-success-bg-color:               palette(green, soft)          !default;
$notice-success-icon-color:             $success                      !default;
$notice-error-bg-color:                 palette(red, lighter)         !default;
$notice-error-icon-color:               $error                        !default;
$notice-info-bg-color:                  palette(blue, soft)           !default;
$notice-info-icon-color:                palette(blue)                 !default;

// Tooltips (_tooltips.scss)
$tooltips-color:                        palette(mono, black)          !default;

// Select (_select.scss)
$select-container-border-color:         palette(gray, lighter)        !default;
$select-container-action-border-color:  palette(gray, lighter)        !default;
$select-container-bg-color:             palette(silver, light)        !default;
$select-dropdown-handle-bg-color:       palette(silver, light)        !default;
$select-dropdown-handle-color:          palette(grey, light)          !default;
$select-list-value-color:               palette(silver, medium)       !default;
$select-list-value-hover-color:         palette(gray, dark)           !default;
$select-list-results-bg-color:          palette(mono, white)          !default;
$select-list-results-border-color:      palette(silver, alt)          !default;
$select-list-results-li-color:          palette(gray, alt)            !default;
$select-list-results-li-optgroup-color: palette(silver, medium)       !default;
$select-list-hover-bg-color:            palette(silver)               !default;
$select-current-bg-color:               palette(gray, light)          !default;
$select-active-list-value-color:        palette(gray, dark)           !default;
$select-active-list-value-bg-color:     palette(silver, light)        !default;
$select-mobile-nav-handle-color:        palette(gray, lighter)        !default;
$select-mobile-nav-handle-hover-color:  palette(gray, alt)            !default;

// Sidebar (_sidebar.scss)
$sidenav-tab-color:                     palette(gray)                 !default;
$sidenav-tab-color-hover:               palette(gray, dark)           !default;
$sidenav-tab-active-color:              palette(gray, dark)           !default;
$sidenav-tab-active-bg-color:           palette(silver, soft)         !default;
$sidenav-tab-icon-color:                palette(green)                !default;

// Summary (_summary.scss)
$list-summary-number-color:             palette(gray)                 !default;
$list-summary-small-color:              palette(gray, light)          !default;

// Tags (_tags.scss)
$tag-color:                             palette(gray, dark)           !default;
$tag-color-alt:                         palette(mono, white)          !default;
$tag-bg-color:                          $warning                      !default;
$tag-success-bg-color:                  $success                      !default;
$tag-error-bg-color:                    $error                        !default;
$tag-inactive-bg-color:                 palette(gray, light)          !default;
$tag-upgrade-bg-color:                  palette(green)                !default;
$tag-upsell-color:                      palette(green, soft)          !default;
$tag-disabled-color:                    palette(silver, medium)       !default;
$tag-disabled-bg-color:                 palette(silver, light)        !default;

// Forms (_forms.scss)
$form--description-color:               palette(gray, light)          !default;
$form--input-color:                     palette(gray, dark)           !default;
$form--input-color-focus:               palette(gray, dark)           !default;
$form--input-bg-color:                  palette(silver, light)        !default;
$form--input-bg-color-focus:            palette(mono, white)          !default;
$form--input-border-color:              palette(gray, lighter)        !default;
$form--input-border-color-hover:        palette(gray, lighter)        !default;
$form--input-border-color-error:        $error                        !default;
$form--input-error-color:               $error                        !default;
$form--input-icon-color:                palette(gray, light)          !default;
$form--input-placeholder-color:         palette(gray, lighter)        !default;
$form--label-color:                     palette(gray, light)          !default;
$checkbox-radio-bg-color:               palette(silver, soft)         !default;
$checkbox-radio-disabled-color:         palette(silver, medium)       !default;
$checkbox-radio-active-color:           $blue                         !default;

// Tabs Colors (_tabs.scss)
$tabs-label-color:                      palette(gray, light)          !default;
$tabs-label-checked-color:              palette(gray, alt)            !default;
$tabs-label-active-color:               palette(gray, dark)           !default;
$tabs-label-active-border-color:        palette(gray, dark)           !default;
$tabs-content-border-color:             palette(silver, alt)          !default;

// Modals (_modals.scss)
$modal-overlay-bg-color:                rgba(51, 51, 51, 0.95)        !default;
$modal-box-shadow-color:                rgba(0, 0, 0, 0.2)            !default;
$modal-close-color:                     palette(silver, medium)       !default;
$modal-close-action-color:              palette(gray, alt)            !default;
$modal-close-action-color:              palette(gray, alt)            !default;

// Dropdowns (_dropdowns.scss)
$dropdown-anchor-color:                 palette(gray, light)          !default;
$dropdown-ul-border-color:              palette(gray, lighter)        !default;
$dropdown-label-border-color:           palette(silver, soft)         !default;
$dropdown-ul-before-border-color:       palette(silver, soft)         !default;

// Scores (_scores.scss)
$circle-score-success-color:            $success                      !default;
$circle-score-warning-color:            $warning                      !default;
$circle-score-error-color:              $error                        !default;
$circle-score-bg-color:                 $silver                       !default;
$circle-score-default-dial-color:       $success                      !default;

// Footer (_footer.scss)
$footer-color:                          palette(silver, medium)       !default;
$footer-cross-sell-border-color:        palette(silver, soft)         !default;
$footer-cross-sell-icon-color:          palette(gray, light)          !default;
$footer-cross-sell-p-color:             palette(gray, light)          !default;

// Progress Bars (_progress-bars.scss)
$progress-text-span-color:              palette(gray, dark)           !default;
$progress-bar-bg-color:                 palette(silver, soft)         !default;
$progress-bar-span-bg-color:            palette(blue)                 !default;
$progress-block-bg-color:               palette(silver, light)        !default;
$progress-state-text-color:             palette(gray, light)          !default;
$progress-close-color:                  palette(silver, medium)       !default;

// Tables (_tables.scss)
$table--border-color:                   palette(silver, soft)         !default;
$table--th-color:                       $headings-color               !default;
$table--text-color:                     $font-color                   !default;
$table--field-list-title-color:         $headings-color               !default;

// Accordions (_accordions.scss)
$accordion--content-bg-color:           palette(silver,light)         !default;
$accordion--open-indicator-color:       palette(gray,light)           !default;

// Icons (_icons.scss)
$icon-color:                            palette(gray,light)           !default;
