@include body-class {

	.sui-dropdown {
		position: relative;
		display: inline-block;
		text-align: left;

		&-anchor {
			$anchor: &;
			display: inline-block;
			color: $dropdown-anchor-color;

			&:hover:not(:focus):not(:active),
			&:hover,
			&:active,
			&:focus {
				color: $blue;
			}
		}

		&.open {
			.sui-dropdown-anchor {
				color: $blue;
			}

			ul {
				display: block;
				list-style: none;
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				border-style: solid;
				border-width: 0 9px 9px;
				display: block;
				width: 0;
				border-top-color: $tooltips-color;
				margin: 7px 0 0;
			}

			&:after {
				border-color: $white transparent;
				z-index: 11;
				top: 24px;
			}

			&:before {
				border-color: $dropdown-ul-before-border-color transparent;
				z-index: 10;
				top: 23px;
			}
		}


		ul {
			border: 1px solid $dropdown-ul-border-color;
			box-shadow: 0 3px 7px 0 rgba(0,0,0,0.05);
			min-width: 180px;
			margin-bottom: 0;
			margin-top: 0;
			padding: 10px 0;
			font: 500 15px/25px $font;
			background: $select-list-results-bg-color;
			position: absolute;
			left: auto;
			right: -22px;
			top: 130%;
			z-index: 10;
			border-radius: 4px;
			display: none;

			li {
				padding: 10px 15px;
				background: none;
				color: $select-list-results-li-color;
				cursor: pointer;
				list-style: none;
				font-weight: 400;
				line-height: 15px;
				word-wrap: break-word;
				margin: 0;
				opacity: 0.8;
				transition-property: opacity;
				transition-duration: 0.3s;
				border-radius: 0 !important;
				a {
					font-weight: 300;
					color: inherit;
					&:hover {
						color: inherit;
					}
				}
				&:hover:not(.sui-dropdown-label) {
					background: $select-list-hover-bg-color;
					color: $select-list-value-hover-color;
				}

				&.active {
					background: $select-active-list-value-bg-color;
					color: $select-active-list-value-color;
				}
				&.current {
					background: $select-current-bg-color;
					color: $white;
				}

				&.sui-dropdown-label {
					border-bottom: 1px solid $dropdown-label-border-color;
					line-height: 30px;
					cursor: default;
					color: $gray;
				}

			}
		}

		&.sui-dropdown-right{
			ul {
				left: -22px;
				transform: none;
			}
		}

		&.sui-dropdown-center{
			ul {
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&.wds-item-loading {
			font-size: 18px;

			.sui-dropdown-anchor {
				visibility: hidden;
			}
		}
	}
}
