@include body-class(true) {

	%label {
		font-family: $form--label-font;
		font-size: $form--label-font-size;
		font-weight: $form--label-font-weight;
		line-height: $form--label-line-height;
		color: $form--label-color;
		display: inline-flex;
		width: 100%;
	}

	label[for] {
		cursor: pointer;
	}

	.sui-label {
		@extend %label;
		display: block;
		margin: 0 0 5px;

		&:last-child {
			margin: 0;
		}

		span.sui-tag {
			vertical-align: text-top;
			margin-left: 5px;
		}
	}

	.sui-label-link {
		margin-left: auto;
		margin-right: 0;
		font-weight: 400;
		color: $form--label-color;
	}

	.sui-inline-label {
		@extend %label;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.sui-form-control {
		width: 100%;
		height: $form--input-height-base;
		display: block;
		margin: 0;
		padding: 9px 14px;
		border: 1px solid $form--input-border-color;
		border-radius: $form--input-border-radius;
		background-color: $form--input-bg-color;
		background-image: none;
		color: $form--input-color;
		font-size: $font--size;
		line-height: $form--input-line-height;
		font-family: $font;
		font-weight: $form--input-font-weight;
		letter-spacing: $font--letter-spacing;
		transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;

		// Unstyle the caret on `<select>`s in IE10+.
		&::-ms-expand {
			border: 0;
			background-color: transparent;
		}

		&[disabled],
		fieldset[disabled] & {
			cursor: not-allowed;

			&,
			&:hover,
			&:focus {
				border-color: $form--input--disabled;
				background-color: $form--input--disabled;
				color: $form--input-color-disabled;
			}
		}

		&,
		&:hover,
		&:focus {
			box-shadow: none;
		}

		&:hover,
		&:focus {
			background-color: $white;
			border: 1px solid $form--input-border-color-hover;
		}

		&:focus {
			color: $form--input-color-focus;
			outline: 0;
			background-color: $form--input-bg-color-focus;
		}

		&::placeholder {
			color: $form--input-placeholder-color;
		}
	}

	// Reset height for `textarea`s.
	textarea.sui-form-control {
		line-height: 20px;
		height: auto;
		max-width: 100%;
		resize: vertical;
	}

	select.sui-form-control {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAs0lEQVQ4T6WS2w0CIRBF59KA2oklaAdbgpbgB48SIBThduKWYClrA2CGgEEXNWH5moR7Zu48QJ0PnRytA6WUe67svb//clDrUkWt9UxEMYRw/AYzJIS4sd45t0ugMeZERNcY49yCCwRgS0Rna+346rGGAVz4s06aW0gQx2/DUUoNAEYAG86cxezkAWCw1k5lBoupZltThomhEMLhs/fmOgrM2VvQwmq9in8rWncAPWfXXfEJ6RpWD7sJ1JwAAAAASUVORK5CYII=);
		background-repeat: no-repeat;
		background-position: center right 10px;
		appearance: none;
		cursor: pointer;
		line-height: 1;
	}

	.sui-control-with-icon {
		position: relative;

		i {
			width: 16px;
			height: 16px;
			pointer-events: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 11px;
			left: 14px;

			&:before {
				color: $form--input-icon;
				display: block;
			}
		}

		.sui-form-control {
			padding-left: 40px;
		}

		&.sui-right-icon {

			i {
				right: 14px;
				left: auto;
				color: $form--input-icon-right;
			}

			.sui-form-control {
				padding-right: 40px;
				padding-left: 14px;
			}
		}
	}

	.sui-with-button {
		display: flex;
		align-items: center;

		.sui-button {
			flex: 0 0 auto;
		}

		.sui-form-control {
			flex: 1;
			margin: 0 5px;
			
			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&.sui-with-button-icon,
		&.sui-with-button-inside {
			display: block;
			position: relative;

			.sui-button,
			.sui-button-icon {
				position: absolute;
				top: 5px;
				right: 5px;
			}

			.sui-button-lg {
				top: 0;
				right: 0;
			}

			.sui-form-control {
				margin: 0;
			}
		}

		&.sui-with-button-icon {
			
			.sui-form-control {
				padding-right: 40px;
			}
		}

		&.sui-with-button-inside {

			.sui-form-control {
				padding-right: 90px;
			}
		}
	}

	.sui-input-group {
		position: relative;
		display: flex;
		align-items: stretch;
		width: 100%;
	}

	.sui-form-field {
		margin-bottom: $sui-gutter;

		&:last-child {
			margin-bottom: 0;

			@include media( max-width, md ) {
				margin-bottom: 0;
			}
		}

		@include media( max-width, md ) {
			margin-bottom: $sui-gutter-md;
		}
	}

	.sui-form-field-error {
		
		.sui-form-control {
			border-bottom: 2px solid $form--input-border-color-error;
		}
		
		.sui-control-with-icon {
			
			i:before {
				color: $form--input-border-color-error;
			}
		}
	}

	.sui-error-message {
		display: block;
		margin-top: 8px;
		color: $form--input-error-color;
		font-size: $form--input-error-font-size;
		line-height: $form--input-error-line-height;
		font-weight: $form--input-error-font-weight;
	}

	.sui-description,
	.sui-multi-checkbox label {
		display: block;
		margin-top: 5px;
		color: $form--description-color;
		font-size: $form--description-font-size;
		line-height: $form--label-line-height;
		font-weight: $form--description-font-weight;
		&.sui-toggle-description {
			margin-left: 48px;
		}
		&.sui-checkbox-description,
		&.sui-radio-description {
			margin: 0 27px 5px;
		}
	}

	.sui-password-group {
		position: relative;

		.sui-password-toggle {
			cursor: pointer;
			background: transparent;
			border: none;
			color: $form--input-icon-color;
			font-size: 15px;
			line-height: 1em;
			padding: 0;
			position: absolute;
			top: 50%;
			right: 7px;
			height: 30px;
			width: 30px;
			transform: translateY(-50%);
			outline: 0;
			border-radius: 4px;
			&:hover {
				background-color: rgba(0, 0, 0, .03);
				i:before {
					color: $gray;
				}
			}
		}
	}

	%radio-checkbox {
		$size: 16px;
		user-select: none;
		display: flex;
		align-items: start;

		input {
			@extend %sui-screen-reader-text;
		}

		span:not(.sui-description):not(.sui-tag) {
			flex-shrink: 0;
			position: relative;
			display: inline-block;
			width: $size;
			height: $size;
			background-color: $checkbox-radio-bg-color;
			cursor: pointer;
			transition: .2s;
			border: 1px solid palette(gray, lighter);
			border-radius: 3px;
			margin-top: 3px;
			&:before {
				@extend %sui-icons;
				opacity: 0;
				content: "(";
				color: $white;
				font-size: 10px;
				line-height: 14px;
				position: absolute;
				width: 100%;
				text-align: center;
				transition: .2s;
			}
		}
		span.sui-tag {
			margin-top: auto;
			margin-bottom: auto;
			margin-left: 10px;
		}

		input:checked + span:not(.sui-description) {
			border: 1px solid $checkbox-radio-active-color;
			background-color: $checkbox-radio-active-color;
			&:before {
				opacity: 1;
			}
		}

		.sui-description {

			cursor: pointer;
			margin-top: 0;
			margin-left: 10px;
			font-size: 15px;
			line-height: 22px;
			color: #666;
			font-weight: 500;

			&.sui-description-sm {
				font-size: 13px;
			}
		}

		input[disabled] + span:not(.sui-description),
		fieldset[disabled] & + span:not(.sui-description) {
			cursor: not-allowed;
			opacity: .5;
		}

		input[disabled] + span + span.sui-description {
			color: $checkbox-radio-disabled-color;
			cursor: not-allowed;
		}
	}

	.sui-checkbox {
		@extend %radio-checkbox;

		span:not(.sui-description):not(.sui-tag) {
			border-radius: 3px;
		}

		+ .sui-checkbox {
			margin-top: 10px;
		}
	}

	.sui-radio {
		@extend %radio-checkbox;

		span:not(.sui-description):not(.sui-tag) {
			border-radius: 50%;
		}

		+ .sui-radio {
			margin-top: 10px;
		}
	}

	.sui-upload-group {
		@extend .sui-form-control;
		display: flex;
		align-items: center;

		input[type="file"] {
			@extend %sui-screen-reader-text;
		}
	}

	.sui-upload-button {
		background-color: transparent;
		border-radius: 4px;
		display: inline-block;
		margin: 0 5px 0 0;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.5;
		pointer-events: none;
		padding: 1px 16px;
		border: 1px solid $button-ghost-border-color;
		background: 0 0;
		color: #888;
		transition: all .2s;
	}

	.sui-upload-label {
		width: 100%;

		&:hover, &:focus {
			.sui-upload-button {
				background-color: $button-ghost-action-bg-color;
				border-color: $button-ghost-action-border-color;
				color: $white;
			}
		}
	}

	.sui-upload-message {
		font-weight: 400;
	}

	.sui-date {
		position: relative;

		.sui-form-control {
			padding-right: 40px;
		}

		i {
			width: 30px;
			height: 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 5px;
			right: 5px;

			&:before {
				display: block;
			}
		}
	}

	.sui-multi-checkbox {
		@extend .sui-form-control;
		height: auto;
		max-height: 114px;
		overflow-y: auto;
		padding: 1px;

		label {
			margin: 1px 0;

			input {
				@extend %sui-screen-reader-text;

				&:checked + span {
					background-color: $blue;
					color: $white;
				}
			}

			span {
				display: block;
				padding: 10px;
			}

			&:first-child {
				margin-top: 0;

				span {
					border-radius: #{$border-radius - 1px} #{$border-radius - 1px} 0 0;
				}
			}

			&:last-child {
				margin-bottom: 0;

				span {
					border-radius: 0 0 #{$border-radius - 1px} #{$border-radius - 1px};
				}
			}
		}
	}

	// Insert Variables
	.sui-insert-variables {
		position: relative;

		.select-container {
			position: absolute;
			top: 1px;
			right: 1px;
			border: 0;
			background-color: transparent;
			pointer-events: none;

			.dropdown-handle {
				display: none;
			}

			.select-list-container {
				padding-right: 0;
				pointer-events: initial;
				
				.list-value {
					width: #{$form--input-height-base - 1px};
					height: #{$form--input-height-base - 2px};
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: relative;
					padding: 0;
					border-left: 1px solid transparent;
					border-radius: 0 #{$border-radius - 1px} #{$border-radius - 1px} 0;
					color: $form--input-bg-color;
					font-size: 16px;
					transition: 0.2s ease;

					&:hover {
						border-left-color: #E6E6E6;
						background-color: $silver;

						&:before {
							color: $gray;
						}
					}

					@include icon(before, plus-circle, true){
						width: 16px;
						height: 16px;
						display: block;
						position: absolute;
					}
				}

				.list-results {
					width: 320px;
					left: auto;
					background-color: $white;

					.current {
						background-color: transparent;
						color: palette(gray, light);

						&:hover {
							background-color: palette(silver, light);
							color: palette(gray, dark);
						}
					}
				}
			}

			&.active {

				.select-list-container .list-value {
					border-left-color: #E6E6E6;
					background-color: $white;
					box-shadow: 0 1px 0 $white;
					border-bottom-right-radius: 0;

					&:before {
						color: palette(gray, dark);
					}
				}
			}
		}
	}
}
