@include body-class {

	%label {
		font-family: $form--label-font;
		font-size: $form--label-font-size;
		font-weight: $form--label-font-weight;
		line-height: $form--label-line-height;
		color: $form--label-color;
		display: inline-flex;
		width: 100%;
	}

	label[for] {
		cursor: pointer;
	}

	.sui-label {
		@extend %label;
	}

	.sui-label-link {
		margin-left: auto;
		margin-right: 0;
		font-weight: 400;
		color: $form--label-color;
	}

	.sui-inline-label {
		@extend %label;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.sui-form-control {
		font-family: $font;
		letter-spacing: -0.025em;
		display: block;
		width: 100%;
		height: $form--input-height-base;
		padding: 7px 15px;
		font-size: $font--size;
		font-weight: $form--input-font-weight;
		line-height: $form--input-line-height;
		color: $form--input-color;
		background-color: $form--input-bg-color;
		background-image: none;
		border: 1px solid $form--input-border-color;
		border-radius: $form--input-border-radius;
		transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;

		// Unstyle the caret on `<select>`s in IE10+.
		&::-ms-expand {
			border: 0;
			background-color: transparent;
		}

		&[disabled],
		fieldset[disabled] & {
			cursor: not-allowed;
		}

		&:hover,
		&:focus {
			background-color: $white;
			border: 1px solid $form--input-border-color-hover;
		}

		&:focus {
			color: $form--input-color-focus;
			outline: 0;
			background-color: $form--input-bg-color-focus;
		}

		&::placeholder {
			color: $form--input-placeholder-color;
		}
	}

	// Reset height for `textarea`s.
	textarea.sui-form-control {
		line-height: 20px;
		height: auto;
		max-width: 100%;
		resize: vertical;
	}

	select.sui-form-control {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAs0lEQVQ4T6WS2w0CIRBF59KA2oklaAdbgpbgB48SIBThduKWYClrA2CGgEEXNWH5moR7Zu48QJ0PnRytA6WUe67svb//clDrUkWt9UxEMYRw/AYzJIS4sd45t0ugMeZERNcY49yCCwRgS0Rna+346rGGAVz4s06aW0gQx2/DUUoNAEYAG86cxezkAWCw1k5lBoupZltThomhEMLhs/fmOgrM2VvQwmq9in8rWncAPWfXXfEJ6RpWD7sJ1JwAAAAASUVORK5CYII=);
		background-repeat: no-repeat;
		background-position: center right 10px;
		appearance: none;
		cursor: pointer;
		line-height: 1;
	}

	.sui-input-group {
		position: relative;
		display: flex;
		align-items: stretch;
		width: 100%;
	}

	.sui-form-field {
		margin-bottom: $sui-gutter;

		@include media( max-width, md ) {
			margin-bottom: $sui-gutter-md;
		}
	}

	.sui-form-field-error {
		.sui-form-control {
			border-bottom: 2px solid $form--input-border-color-error;
		}
	}

	.sui-error-message {
		display: block;
		margin-top: 8px;
		color: $form--input-error-color;
		font-size: $form--input-error-font-size;
		line-height: $form--input-error-line-height;
		font-weight: $form--input-error-font-weight;
	}

	.sui-description {
		display: block;
		margin-top: 8px;
		color: $form--description-color;
		font-size: $form--description-font-size;
		line-height: $form--label-line-height;
		font-weight: $form--description-font-weight;
		&.sui-toggle-description {
			margin-left: 48px;
		}
	}

	.sui-password-group {
		position: relative;

		.sui-password-toggle {
			cursor: pointer;
			background: transparent;
			border: none;
			color: $form--input-icon-color;
			font-size: 15px;
			line-height: 1em;
			padding: 0;
			position: absolute;
			top: 50%;
			right: 7px;
			height: 30px;
			width: 30px;
			transform: translateY(-50%);
			outline: 0;
			border-radius: 4px;
			&:hover {
				background-color: rgba(0, 0, 0, .03);
				i:before {
					color: $gray;
				}
			}
		}
	}

	%radio-checkbox {
		$size: 16px;
		user-select: none;
		display: flex;
		align-items: start;

		input {
			@extend %sui-screen-reader-text;
		}

		span {
			flex-shrink: 0;
			position: relative;
			display: inline-block;
			width: $size;
			height: $size;
			background-color: $checkbox-radio-bg-color;
			cursor: pointer;
			transition: .2s;
			border-radius: 3px;
			margin-top: 3px;
			&:before {
				@extend %sui-icons;
				opacity: 0;
				content: "(";
				color: $white;
				font-size: 10px;
				line-height: $size;
				position: absolute;
				width: 100%;
				text-align: center;
				transition: .2s;
			}
		}

		input:checked + span {
			background-color: $checkbox-radio-active-color;
			&:before {
				opacity: 1;
			}
		}

		.sui-description {

			cursor: pointer;
			margin-top: 0;
			margin-left: 10px;
			font-size: 15px;
			line-height: 22px;
			color: #666;
			font-weight: 500;

			&.sui-description-sm {
				font-size: 13px;
			}
		}

		input[disabled] + span,
		fieldset[disabled] & + span {
			cursor: not-allowed;
			opacity: .5;
		}

		input[disabled] + span + div.sui-description {
			color: $checkbox-radio-disabled-color;
			cursor: not-allowed;
		}
	}

	.sui-checkbox {
		@extend %radio-checkbox;

		span {
			border-radius: 3px;
		}

		+ .sui-checkbox {
			margin-top: 10px;
		}
	}

	.sui-radio {
		@extend %radio-checkbox;

		span {
			border-radius: 50%;
		}

		+ .sui-radio {
			margin-top: 10px;
		}
	}

	.sui-upload-group {
		@extend .sui-form-control;
		display: flex;
		align-items: center;

		input[type="file"] {
			@extend %sui-screen-reader-text;
		}
	}

	.sui-upload-button {
		background-color: transparent;
		border-radius: 4px;
		display: inline-block;
		margin: 0 5px 0 0;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.5;
		pointer-events: none;
		padding: 1px 16px;
		border: 1px solid $button-ghost-border-color;
		background: 0 0;
		color: #888;
		transition: all .2s;
	}

	.sui-upload-label {
		width: 100%;

		&:hover, &:focus {
			.sui-upload-button {
				background-color: $button-ghost-action-bg-color;
				border-color: $button-ghost-action-border-color;
				color: $white;
			}
		}
	}

	.sui-upload-message {
		font-weight: 400;
	}
}
