@include body-class {

	.sui-header {
		display: flex;
		align-items: center;
		position: relative;
		line-height: 1;
		margin-bottom: $sui-gutter;

		.sui-actions-left {
			display: flex;
			margin-left: 10px;
			margin-right: auto;
		}

		.sui-actions-right {
			display: flex;
			margin-left: auto;
			margin-right: 0;
		}

		h1 {
			color: $headings-color;
			margin: 0;
			text-align: left;
			text-transform: uppercase;
			font-weight: bold;
			max-width: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
