@include body-class {

	.sui-header {
		position: relative;
		height: 40px;

		h1 {
			display: inline-block;
		}

		.sui-actions-left {
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-left: 10px;
		}

		.sui-actions-right {
			position: absolute;
			display: flex;
			align-items: center;
			top: 5px;
			right: 0;
		}
	}
}
