%sui-icons {
	font-family: 'WPMU-DEV-Icon' !important; // Use !important to prevent issues with browser extensions that change fonts.
	speak: none;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-rendering: auto;
	display: inline-block;
	color: $icon-color;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin icon($position: before, $icon: false, $styles: true) {
	@if $position == both {
		$position: 'before, &:after';
	}
	// Either a :before or :after pseudo-element, or both, defaulting to :before.
	&:#{$position} {
		@if $icon {
			// A particular icon has been specified.
			content: "#{map-get($icons, $icon)}";
		}
		@if $styles {
			@extend %sui-icons;
		}
		// Include any extra rules supplied for the pseudo-element.
		@content;
	}
}

// Map icon names to font unicode characters.
$icons: (
	24-hour-support: "\c1",
	2FA: "\e912",
	ab-testing: "\bb",
	academy: "\3c0",
	alert: "\58",
	align-center: "\5e",
	align-justify: "\23",
	align-left: "\25",
	align-right: "\26",
	animation-video: "\46",
	annotate: "\b4",
	archive: "\62",
	arrow-down: "\c2",
	arrow-left: "\f8ff",
	arrow-location: "\4d",
	arrow-pointer-cursor: "\4e",
	arrow-return-back: "\52",
	arrow-right: "\af",
	arrow-up: "\d4",
	arrows-compress: "\2265",
	arrows-expand: "\ac",
	arrows-in: "\2264",
	arrows-out: "\2da",
	asterisk: "\2a",
	at-sign: "\40",
	audio-sound: "\e9ae",
	automate: "\152",
	blog: "\e90d",
	bold: "\42",
	book-bookmark: "\2d9",
	book: "\2206",
	bookmark: "\221a",
	brush: "\7e",
	buddypress: "\e90c",
	calendar: "\220f",
	camera: "\d8",
	check-tick: "\5f",
	check: "\28",
	chevron-down: "\131",
	chevron-left: "\d3",
	chevron-right: "\2dc",
	chevron-up: "\2dd",
	clipboard-notes: "\bf",
	clock: "\2c",
	close: "\29",
	cloud-migration: "\e905",
	cloud: "\2122",
	cloudflare: "\d0",
	code: "\3a",
	coffee-cup: "\e96b",
	color-pick-eyedropper: "\a5",
	comment: "\a7",
	comment-2: "\aa",
	comments: "\b6",
	community-people: "\2018",
	compass: "\2c6",
	credit-card: "\63",
	crop: "\43",
	cross-close: "\2b",
	crown: "\a1",
	dashboard-settings: "\e901",
	dashboard: "\e9b2",
	defender: "\b7",
	devman: "\20ac",
	dislike: "\6b",
	dollar: "\24",
	download-cloud: "\a3",
	download: "\e93b",
	eye-hide: "\71",
	eye: "\65",
	fast-forward: "\3e",
	filter: "\7a",
	finger-point: "\2248",
	finger-swipe: "\2203",
	first-aid: "\e93f",
	flag: "\7c",
	folder: "\2d8",
	forminator: "\e908",
	forminator-2: "\e907",
	gallery-slider: "\f7",
	google-analytics: "\e5",
	graph-bar: "\c7",
	graph-bar-2: "\2db",
	heart: "\4b",
	help-support: "\48",
	home: "\4a",
	hub: "\fb02",
	hummingbird: "\b0",
	hustle: "\2014",
	indent-less: "\201d",
	indent-more: "\2019",
	infinity: "\56",
	info: "\49",
	IP: "\e910",
	italic: "\7b",
	jobs-pros-search: "\e90e",
	key: "\25ca",
	laptop: "\ab",
	layers: "\e6",
	layout-grid: "\221e",
	layout: "\a9",
	lightbulb: "\4c",
	like: "\6a",
	link: "\35",
	list-bullet: "\38",
	list-number: "\37",
	list: "\60",
	loader: "\e9be",
	location-marker: "\6c",
	lock: "\39",
	magnifying-glass-search: "\ba",
	magnifying-search-glass-love: "\2022",
	mail: "\6d",
	map: "\34",
	megaphone: "\c5",
	microphone-audio: "\2030",
	minus: "\2d",
	mobile-signal: "\201b",
	mobile: "\201c",
	monitor: "\123",
	more: "\2026",
	mouse-scroll: "\df",
	news-paper: "\2211",
	notification-count: "\e900",
	notification: "\6e",
	open-new-window: "\e909",
	page-multiple: "\e7",
	page-pdf: "\c6",
	page-search: "\da",
	page: "\d2",
	paint-bucket: "\222b",
	paperclip: "\41",
	pause: "\6f",
	paypal: "\59",
	pencil: "\2f",
	performance: "\e903",
	photo-picture: "\44",
	play: "\70",
	plug-connected: "\e90b",
	plug-disconnected: "\e90a",
	plugins: "\50",
	plugin-2: "\4f",
	plus: "\3d",
	power-on-off: "\e904",
	price-tag: "\2c7",
	profile-female: "\192",
	profile-male: "\b5",
	progress: "\e9b1",
	pulse: "\201e",
	puzzle: "\7d",
	question: "\3f",
	quote: "\3b",
	quote-2: "\27",
	refresh: "\45",
	reply: "\72",
	rocket-launch: "\e9bf",
	security-thumb-print: "\e90f",
	settings-slider-control: "\153",
	share: "\73",
	sheild-badge: "\e96a",
	shipper-anchor: "\e906",
	shopping-cart: "\cd",
	sitemap: "\b8",
	skull: "\e96c",
	smart-crawl: "\2202",
	smush: "\2021",
	snapshot: "\fb01",
	social-android: "\2e",
	social-apple: "\61",
	social-drive: "\76",
	social-dropbox: "\64",
	social-facebook: "\66",
	social-github: "\68",
	social-google-plus: "\67",
	social-linkedin: "\69",
	social-twitter: "\74",
	social-youtube: "\79",
	speed-optimize: "\f8",
	star-line: "\cf",
	star: "\53",
	stopwatch: "\e986",
	storage-server-data: "\ce",
	style-type: "\3c",
	tablet-landscape: "\5b",
	tablet-portrait: "\5d",
	target: "\2020",
	testing-bottle-beaker: "\e9b4",
	text-color: "\a8",
	themes: "\54",
	thumbnails: "\47",
	ticket: "\e97d",
	timed-countdown: "\e911",
	trash: "\51",
	underline: "\55",
	unlink: "\36",
	unlock: "\30",
	update-arrow: "\e902",
	update: "\ae",
	upfront: "\201a",
	upload-cloud: "\a2",
	uptime: "\b1",
	user-hero-points-trophy: "\31",
	user-reputation-points: "\32",
	user-star-level-up: "\33",
	wand-magic: "\5a",
	warning-alert: "\21",
	web-globe-world: "\57",
	white-label-video: "\75",
	widget-settings-config: "\78",
	wordpress: "\77",
	wpmudev-logo: "\2039",
	wpmudev-logo-2: "\203a",
	wrench-tool: "\2044",
	zip: "\3a9",
	zoom-in: "\2260",
	zoom-out: "\2013",
);

@font-face {
	font-family: 'WPMU-DEV-Icon';
	src: url('#{$sui-font-path}WPMU-DEV-Icon.eot');
	src: url('#{$sui-font-path}WPMU-DEV-Icon.eot') format('embedded-opentype'),
	url('#{$sui-font-path}WPMU-DEV-Icon.ttf') format('truetype'),
	url('#{$sui-font-path}WPMU-DEV-Icon.woff') format('woff'),
	url('#{$sui-font-path}WPMU-DEV-Icon.woff2') format('woff2'),
	url('#{$sui-font-path}WPMU-DEV-Icon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@include body-class {

	.sui-loading:before {
		animation: spin 1.3s linear infinite;
	}

	// Set the required styles on all icons.
	[class*="sui-icon-"] {
		display: inline-block;
		@include icon(both);
	}

	// Icon sizes.
	[class*="sui-icon-"].sui-xl {
		&:before {
			font-size: 30px;
		}
	}

	[class*="sui-icon-"].sui-lg {
		&:before {
			font-size: 20px;
		}
	}

	[class*="sui-icon-"].sui-md {
		&:before {
			font-size: 16px;
		}
	}

	[class*="sui-icon-"].sui-sm {
		&:before {
			font-size: 12px;
		}
	}

	// Colors.
	[class*="sui-icon-"].sui-success {
		&:before {
			color: inherit;
		}
	}

	[class*="sui-icon-"].sui-error {
		&:before {
			color: inherit;
		}
	}

	[class*="sui-icon-"].sui-warning {
		&:before {
			color: inherit;
		}
	}

	[class*="sui-icon-"].sui-info {
		&:before {
			color: inherit;
		}
	}

	// Fixed width icons.
	[class*="sui-icon-"].sui-fw {
		width: 1.8em;
		text-align: center;
		min-height: 1em;
	}

	// Setup a class name for each icon.
	@each $name, $char in $icons {
		.sui-icon-#{$name}:before {
			content: $char;
		}
	}
}
