@include body-class {

	%label {
		font-family: $label--font;
		font-size: $label--font-size;
		font-weight: $label--font-weight;
		line-height: $label--line-height;
		color: $label--color;
	}

	.sui-label {
		@extend %label;
	}

	.sui-inline-label {
		@extend %label;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}
