@include body-class {

	.sui-grid {
		display: flex;
		justify-content: space-between;
		margin: (-$sui-gutter) 0 0 (-$sui-gutter);
	}

	.sui-grid-cell {
		flex: 1;
		padding: $sui-gutter 0 0 $sui-gutter;
	}
}
