@include body-class {

	// Necessary styling for the dialog to work.
	.sui-dialog[aria-hidden="true"] {
		display: none;
	}

	.sui-dialog {
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 160px;
		display: flex;
		align-items: center;

		// Modal sizes.
		&.sui-dialog-sm {
			.sui-dialog-content {
				max-width: 400px;

				@media (max-width: 400px) {
					max-width: 90%;
				}
			}

			.sui-box-header {
				border: none;
				text-align: center;
				display: block;
				position: relative;

				.sui-box-title {
					margin-top: 30px;
					margin-bottom: -10px;
					font-size: 22px;
				}

				.sui-dialog-close {
					position: absolute;
					right: 30px;
					top: 30px;
				}
			}

			.sui-box-body {
				p {
					font-size: 13px;
					line-height: 22px;
					text-align: center;
				}

			}

			.sui-box-footer {
				border: none;
				align-items: center;
				justify-content: center;
			}
		}

		&.sui-dialog-lg {
			.sui-dialog-content {
				max-width: 980px;

				@media (max-width: 1200px) {
					max-width: 90%;
				}
			}
		}

		@media (max-width: 960px) {
			left: 36px;
		}

		@media (max-width: 782px) {
			left: 0;
		}

		& * {
			box-sizing: border-box;
		}
	}

	.sui-dialog-overlay {
		position: fixed;
		z-index: 2;
		background-color: $modal-overlay-bg-color;
		top: 0;
		right: 0;
		bottom: 0;
		left: 160px;

		@media (max-width: 960px) {
			left: 36px;
		}

		@media (max-width: 782px) {
			left: 0;
		}
	}

	.sui-dialog-content {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		max-height: 85%;
		overflow-y: auto;

		> .sui-box {
			box-shadow: 0 10px 40px $modal-box-shadow-color;
		}

		.sui-box-body {
			& > * {
				margin-bottom: 30px;
				@include media( max-width, md ) {
					margin-bottom: $sui-gutter-md;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.sui-dialog-close {
		font-size: 1.25em;
		background-image: none;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		color: $modal-close-color;
		@include icon(before, 'close');
		outline-style: none;
	}
}
