@include body-class {

	.sui-notice,
	.sui-notice-top {

		p, ul, ol {
			padding: 0 0 0 $sui-gutter;
			
			@include media( max-width, md ) {
				padding: 0 0 0 $sui-gutter-md;
			}
		}

		p {

			&:first-of-type {
				@include icon( before, info );
	
				&:before {
					position: relative;
					vertical-align: middle;
					top: -2px;
					margin-right: 10px;
					margin-left: -#{$sui-gutter};
					color: $notice-default-icon-color;
					font-size: 20px;

					@include media( max-width, md ) {
						margin-left: -#{$sui-gutter-md};
					}
				}
			}
		}

		// NOTICE info
		&.sui-notice-info {

			p:first-of-type {
				
				&:before {
					color: $notice-info-icon-color;
				}
			}
		}

		// NOTICE success
		&.sui-notice-success {
			
			p:first-of-type {
				@include icon(before, check-tick, false);
				
				&:before {
					color: $notice-success-icon-color;
				}
			}
		}

		// NOTICE warning
		&.sui-notice-warning {
			
			p:first-of-type {
				@include icon(before, warning-alert, false);

				&:before {
					color: $notice-warning-icon-color;
				}
			}
		}

		// NOTICE error
		&.sui-notice-error {

			p:first-of-type {
				@include icon(before, warning-alert, false);

				&:before {
					color: $notice-error-icon-color;
				}
			}
		}
	}

	.sui-notice {
		display: block;
		margin: $sui-gutter 0;
		border-radius: $border-radius;
		padding: $sui-gutter/2 $sui-gutter;
		background-color: $notice-default-bg-color;

		p {
			margin: $sui-gutter/2 0;

			&:first-child,
			&:first-of-type {
				margin-top: 0;
			}

			&:last-child,
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&, p {
			color: palette( gray, dark );

			strong {
				font-weight: $font--medium;
			}
		}

		.sui-notice-dismiss {
			display: block;
			margin: 6px 0 -5px;
			padding: 0 0 0 $sui-gutter;
			
			a {
				margin-left: -10px;
				padding: 5px 10px;
				color: palette( gray, light );
				font-size: 12px;
				line-break: 16px;
				font-weight: $font--medium;
				text-transform: uppercase;
				text-decoration: none;

				&:hover, &:active {
					color: palette( gray, dark );
				}
			}
		}

		&:first-child {
			margin-top: 0;

			@include media( max-width, md ) {
				margin-top: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;

			@include media( max-width, md ) {
				margin-bottom: 0;
			}
		}

		&.sui-notice-icon-tick {

			p:first-of-type {
				@include icon(before, check-tick, false);
			}
		}

		&.sui-no-notice-icon {
			
			ul, ol, p {
				padding: 0;
			}

			p:first-of-type:before {
				content: none;
				margin: 0;
				padding: 0;
			}
		}

		// NOTICE info
		&.sui-notice-info {
			background-color: $notice-info-bg-color;
		}

		// NOTICE success
		&.sui-notice-success {
			background-color: $notice-success-bg-color;
		}

		// NOTICE warning
		&.sui-notice-warning {
			background-color: $notice-warning-bg-color;
		}
		
		// NOTICE error
		&.sui-notice-error {
			background-color: $notice-error-bg-color;
		}

		// SIZE small
		&.sui-notice-sm {
			
			ul, ol, p {
				font-size: 13px;
				line-height: 22px;

				&:before {
					font-size: 16px;
				}
			}
		}

		@include media( max-width, md ) {
			margin: $sui-gutter-md 0;
			padding: $sui-gutter-md/2 $sui-gutter-md;
		}
	}

	.sui-notice-top {
		width: 100%;
		max-width: 600px;
		display: block;
		position: fixed;
		z-index: 99999;
		top: 17px;
		left: 50%;
		margin: 0;
		margin-left: 80px;
		border-radius: $border-radius;
		border-left: 2px solid $notice-default-icon-color;
		padding: #{$sui-gutter/2} 20px #{$sui-gutter/2} 18px;
		background-color: $white;
		box-shadow: rgba(0,0,0,0.15) 0 5px 25px 0;
		transform: translateX(-50%);

		p {
			margin: $sui-gutter/2 0;
			color: palette( gray );
			font: 400 13px/22px $font;
			letter-spacing: -0.19px;

			&:first-of-type:before {
				top: -1px;
				font-size: 16px;
			}

			strong {
				color: palette( gray, dark );
				font-weight: 500;
			}

			&:first-child,
			&:first-of-type {
				margin-top: 0;
			}

			&:last-child,
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&.sui-notice-success {
			border-left-color: $notice-success-icon-color;
		}

		&.sui-notice-warning {
			border-left-color: $notice-warning-icon-color;
		}

		&.sui-notice-error {
			border-left-color: $notice-error-icon-color;
		}

		&.sui-notice-info {
			border-left-color: $notice-info-icon-color;
		}

		&.sui-can-dismiss {
			display: flex;
			
			.sui-notice-content {
				flex: 1;
				align-self: center;
			}

			.sui-notice-dismiss {
				display: flex;
				flex-direction: column;
				flex: 0 0 60px;
				margin: -#{$sui-gutter/2} -20px -#{$sui-gutter/2} 0;
				
				a {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					flex: 1 1 auto;
					border-radius: 0 #{$border-radius} #{$border-radius} 0;
					background-color: palette( silver, light );
					color: palette( gray, light );
					font: $font--medium 11px/13px $font;
					text-transform: uppercase;
					text-align: center;
					transition: 0.3s ease;

					&:before {
						color: palette( gray, light );
						font-size: 13px;
					}

					&:hover, &:active {
						background-color: palette( silver, alt );
					}
				}
			}
		}

		@media (max-width: 782px) {
			width: 90%;
			top: 23px;
			margin-left: 0;
		}
	}

	&.wp-admin.folded {

		.sui-notice-top {
			margin-left: 18px;

			@media (max-width: 782px) {
				margin-left: 0;
			}
		}
	}
}