@include body-class {

	.sui-notice-top,
	.sui-notice {
		color: #333;
		font-weight: $font--weight;
		padding: 15px 30px;
		position: relative;
		width: 100%;
		border-radius: 5px;
		margin-bottom: $sui-gutter;
		background-color: $notice-default-bg-color;

		@include media( max-width, md ) {
			margin-bottom: $sui-gutter-md;
		}

		&:last-child {
			margin-bottom: 0;
		}

		& p {
			@include icon(before, info);
			padding: 0 0 0 30px;
			a {
				color: $gray-alt;
				&:hover,
				&:focus {
					color: $gray-alt;
				}
			}

			&:before {
				color: $notice-default-icon-color;
				vertical-align: middle;
				top: -2px;
				margin-left: -30px;
				position: relative;
				margin-right: 10px;
				font-size: 20px;
			}
			&:last-of-type {
				margin: 0;
			}
		}

		&.sui-notice-success {
			background-color: $notice-success-bg-color;
			& p {
				@include icon(before, check-tick, false);
				&:before {
					color: $notice-success-icon-color;
				}
			}
		}

		&.sui-notice-warning {
			background-color: $notice-warning-bg-color;
			& p {
				@include icon(before, warning-alert, false);
				&:before {
					color: $notice-warning-icon-color;
				}
			}
		}

		&.sui-notice-error {
			background-color: $notice-error-bg-color;
			& p {
				@include icon(before, warning-alert, false);
				&:before {
					color: $notice-error-icon-color;
				}
			}
		}

		&.sui-notice-info {
			background-color: $notice-info-bg-color;
			& p {
				&:before {
					color: $notice-info-icon-color;
				}
			}
		}

		&.sui-notice-sm {

			p {
				font-size: 13px;
				line-height: 22px;

				&:before {
					font-size: 16px;
				}

			}
			& a {
				font-size: 13px;
			}

			.sui-notice-dismiss {
				a {
					margin-left: -14px;
				}
			}

		}

		& .sui-notice-dismiss {
				padding: 0 0 0 30px;
				display: block;
				margin-top: 6px;
				margin-bottom: -5px;


			& a {
				font-weight: 500;
				font-size: 12px;
				text-transform: uppercase;
				text-decoration: none;
				color: #888;
				line-height: 16px;
				padding: 5px 10px;
				margin-left: -10px;
			}
		}

		&.sui-notice-icon-tick {
			& p {
				@include icon(before, check-tick, false);
			}
		}

		&.sui-no-notice-icon p {
			padding: 0;

			&:before {
				content: '';
				margin: 0;
				padding: 0;
			}
		}

		&.sui-notice-top {
			position: absolute;
			top: 0;
			width: 600px;
			z-index: 100;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: rgba(0, 0, 0, 0.15) 0 5px 25px 0;
			&:last-of-type {
				margin: 0;
			}

			@media (max-width: 960px) {
				transform: translateX(-45%);
			}

			@media (max-width: 782px) {
				top: -30px;
				transform: translateX(-50%);
				width: 380px;
			}

		}
		.sui-notice-buttons {
			margin: 10px 30px 0;
		}
	}
	p + .sui-notice {
		margin-top: 30px;
		@include media( max-width, md ) {
			margin-top: $sui-gutter-md;
		}
	}
}
