@import "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css";

@include body-class {

	select.sui-select {

		+ .select2-container {
			width: 100% !important;
			display: block;
			
			.selection {
				display: block;
				
				&:focus {
					outline: none;
				}
			}

			.select2-selection--single,
			.select2-selection--multiple {
				border-radius: $border-radius;
				border: 1px solid $select2-border-color;
				background-color: $select2-background-color;
			}

			.select2-selection--single {
				height: auto;
				display: block;
				position: relative;

				.select2-selection__rendered {
					padding: 7px 28px 6px #{$sui-gutter/2};
					color: $select2-color;
					font: 500 15px/25px $font;
					transition: 0.25s ease;

					@include media( max-width, md ) {
						padding-left: #{$sui-gutter-md/2};
					}
				}

				.select2-selection__arrow {
					@include icon(before, chevron-down, true);
					width: 20px;
					height: 20px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 9px;
					right: 9px;

					&:before {
						font-size: 12px;
						transition: transform 0.3s linear;
					}

					b {
						display: none;
					}
				}

				&:hover {

					.select2-selection__rendered {
						color: $select2-color-hover;
					}
				}

				&:focus {
					outline: none;
				}
			}

			.select2-selection--multiple {
				padding: 7px #{$sui-gutter/2} 6px;

				.select2-selection__rendered {
					display: block;
					margin: -5px;
					padding: 0;

					.select2-selection__clear {
						display: none;
					}

					li {
						display: inline-flex;
						margin: 5px;
						font: 500 15px/25px $font;

						&:before, &:after {
							content: none;
						}
					}

					.select2-selection__choice {
						padding: 0 8px;
						border: 1px solid palette( silver, soft );
						border-radius: $border-radius/2;
						background: palette( silver, light );
						color: palette( gray, alt );
						line-height: 23px;

						.select2-selection__choice__remove {
							margin-right: 4px;
							color: $select2-multi-option-remove;

							&:hover {
								color: $select2-multi-option-remove-hover;
							}
						}
					}

					.select2-search--inline {

						.select2-search__field {
							width: 100% !important;
							display: block;
							margin: 0;
							padding: 0;
							color: palette( gray, dark );
							font: 400 14px/25px $font;
							transition: 0.2s ease;
						}
					}
				}
			}

			&.select2-container--open {

				.select2-selection--single {

					.select2-selection__rendered {
						color: $select2-color-hover;
					}

					.select2-selection__arrow {
						
						&:before {
							transform: rotate(180deg);
						}
					}
				}
			}

			&:focus {
				outline: none;
			}
		}
	}

	.sui-select-dropdown {
		border: 1px solid $select2-dropdown-border;
		border-radius: $border-radius;
		background: $select2-dropdown-background-color;

		.select2-search--dropdown {
			padding: 7px #{$sui-gutter/2} 6px;
			border-bottom: 1px solid $select2-dropdown-border;

			.select2-search__field {
				@extend .sui-form-control;
			}
		}

		.select2-results {

			> .select2-results__options {
				background: $select2-dropdown-background-color;
			}

			.select2-results__option {
				padding: 7px #{$sui-gutter/2} 6px;
				background-color: transparent;
				color: $select2-dropdown-option-color;
				font: 400 15px/25px $font;
				transition: 0.25s ease;

				&[aria-selected="true"] {
					background-color: $select2-dropdown-option-background-hover;
					color: $select2-dropdown-option-color-selected;
				}

				&--highlighted[aria-selected] {
					background-color: $select2-dropdown-option-background-selected;
					color: $select2-dropdown-option-color-hover;
				}

				@include media( max-width, md ) {
					padding: 7px #{$sui-gutter-md/2} 6px;
				}
			}

			.select2-results__group {
				cursor: default;
				pointer-events: none;
				color: $select2-dropdown-optgroup-color;
				font-size: 12px;
				line-height: 12px;
				font-weight: 500;
			}
		}
	}
}