@import url("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css");

@include body-class {

	select.sui-select {

		+ .select2-container {
			width: 100% !important;
			display: block;
	
			.selection {
				display: block;
	
				&:focus, *:focus {
					outline: none;
				}
			}
	
			.select2-selection--single,
			.select2-selection--multiple {
				border-radius: $border-radius;
				border: 1px solid $select-container--border-color;
				background-color: $select-container--background;
				transition: 0.3s ease;
	
				&:hover {
					background-color: $select-container--background-active;
				}
			}
	
			// Single value
			.select2-selection--single {
				height: auto;
				display: block;
				position: relative;
	
				.select2-selection__rendered {
					padding: 7px 28px 6px #{$sui-gutter/2};
					color: $select-value--color;
					font: 500 15px/25px $font;
					transition: 0.3s ease;
				}
	
				.select2-selection__arrow {
					width: 20px;
					height: 20px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 9px;
					right: 9px;
	
					@include icon(before, chevron-down) {
						font-size: 12px;
						transition: transform 0.2s linear;
					};
	
					b {
						display: none;
					}
				}
			}
	
			// Multiple values
			.select2-selection--multiple {
				padding: 7px 12px 7px;
	
				.select2-selection__rendered {
					display: block;
					margin: -5px;
					padding: 0;
	
					.select2-selection__clear {
						display: none;
					}
	
					li {
						display: inline-flex;
						margin-right: 5px;
						margin-bottom: 5px;
						font: 500 15px/24px $font;
	
						&:before, &:after {
							content: none;
						}
					}
	
					.select2-selection__choice {
						padding-left: 10px;
						padding-right: 0;
						border: none;
						border-radius: $border-radius;
						background: $gray;
						color: $white;
						font-size: 12px;
	
						.select2-selection__choice__remove {
							margin-left: 10px;
							margin-right: 0;
							padding: 0 10px;
							color: $white;
							order: 2;
							background-color: #5E5E5E;
							font-weight: 500;
							font-size: 16px;
							line-height: 24px;
							transition: all .3s ease;
							border-radius: 0 $border-radius $border-radius 0;
	
							&:hover {
								color: $white;
								background-color: #565656;
							}
						}
					}
	
					.select2-search--inline {
						margin: 0 0 0 8px;
	
						.select2-search__field {
							width: 100% !important;
							height: 34px;
							display: block;
							margin: 0;
							padding: 0;
							color: palette(gray, dark);
							font: 500 15px/24px $font;
							transition: 0.2s ease;
	
							&::placeholder {
								color: #AAA;
							}
						}
					}
				}
			}
	
			&.select2-container--open {
	
				.select2-selection--single,
				.select2-selection--multiple {
					background-color: $select-container--background-active;
				}
	
				// Single value
				.select2-selection--single {
	
					.select2-selection__arrow {
							
						&:before {
							transform: rotate(180deg);
						}
					}
				}
			}
		}

		// VARIATION: Inline
		&.sui-select-inline + .select2-container {
			width: auto !important;
			max-width: 100%;
			min-width: 240px;
			display: inline-flex;
			margin-right: 10px;

			.selection {
				min-width: 100%;
				flex: 0 0 100%;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		// SIZE: Small
		&.sui-select-sm + .select2-container {
			
			// Single value
			.select2-selection--single {

				.select2-selection__rendered {
					padding-top: 6px;
					padding-left: 11px;
					font-size: 13px;
					line-height: 16px;
				}

				.select2-selection__arrow {
					top: 4px;
					right: 4px;
				}
			}
		}

		// SIZE: Large
		&.sui-select-lg + .select2-container {

			// Multiple value
			.select2-selection--multiple {
				min-height: 118px;
			}
		}
	}

	.sui-select-dropdown,
	.sui-variables-dropdown {
		margin: 0;
		padding: #{$sui-gutter / 2} 0;
		border: 1px solid $select-results--border-color;
		border-radius: $border-radius;
		background: $select-results--background;

		* {
			box-sizing: border-box;
			font-variant-ligatures: none;
			-webkit-font-variant-ligatures: none;
			text-rendering: optimizeLegibility;
			-moz-osx-font-smoothing: grayscale;
			font-smoothing: antialiased;
			-webkit-font-smoothing: antialiased;
			text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
		}

		// Search container
		.select2-search--dropdown {
			position: relative;
			margin: 0 0 10px;
			padding: 0 #{($sui-gutter / 2) - 1px};

			@include icon(after, magnifying-glass-search) {
				width: 20px;
				height: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 50%;
				right: #{(($sui-gutter / 2) - 1px) + ($sui-gutter / 2)};
				transform: translateY(-50%);
				font-size: 16px;
			}

			.select2-search__field {
				width: 100%;
				display: block;
				margin: 0;
				border: 1px solid $select-search--border-color;
				padding: 9px 40px 9px #{$sui-gutter/2 - 1px};
				border-radius: $border-radius;
				background-color: $select-search--background;
				color: $select-search--color;
				font: 500 15px/20px $font;
				letter-spacing: $font--letter-spacing;
				transition: 0.3s ease;

				&,
				&:hover,
				&:focus {
					outline: none;
					box-shadow: none;
				}

				&:hover,
				&:focus {
					background-color: $select-search--background-focus;
				}

				&::placeholder {
					color: $select-search--placeholder;
				}
			}
		}

		// List of results
		.select2-results {
			margin: 0;
			padding: 0;

			> .select2-results__options {
				background-color: transparent;

				&, li {
					margin: 0;
					padding: 0;
					border: 0;
					list-style: none;
				}

				.select2-results__option {
					background-color: transparent;
					padding: 5px #{$sui-gutter/2 - 1px};
					font: 500 15px/25px $font;
					color: $select-results--color;
					transition: 0.3s ease;

					&[aria-selected="true"] {
						color: $select-results--color-current;
						background-color: $select-results--background-current;
					}

					&--highlighted:not([aria-selected="true"]) {
						background-color: $select-results--background-hover;
						color: $select-results--color-hover;
					}

					.select2-results__options--nested {
						margin: 0 -#{$sui-gutter/2 - 1px};

						li {
							padding-left: #{$sui-gutter - 1px};
						}
					}
				}
			}

			.select2-results__message {
				color: $select-search--result;
				font: bold 12px/22px $font;
				letter-spacing: $font--letter-spacing;
			}

			.select2-results__group {
				cursor: default;
				pointer-events: none;
				padding-left: 0;
				color: $select-results--optgroup-color;
				font-size: 12px;
				line-height: 12px;
				font-weight: 500;
			}
		}
	}

	.sui-select-dropdown {

		&.select2-dropdown--above {
			margin-top: 1px;
		}

		&.select2-dropdown--below {
			margin-top: -1px;
		}
	}

	.sui-variables-dropdown {
		width: 320px !important;
		position: absolute;
		top: 0;
		right: 0;
		left: auto;
		margin-right: -40px;
		margin-top: -1px;
		border-color: $form--input-border-color;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}