@include body-class(true) {

	.sui-row-with-sidenav {
		clear: both;
		position: relative;
		display: table;
		width: 100%;
		table-layout: fixed;
		margin-bottom: 30px;

		@media (max-width: 1100px) {
			display: block;
		}

		.sui-sidenav {
			width: $sidenav-width;
			padding-right: 30px;
			display: table-cell;
			position: relative;
			vertical-align: top;

			@media (max-width: 1100px) {
				display: block;
				width: 100%;
				padding: 0;
			}

			ul {
				padding: 0;
			}

			li {
				list-style: none;
				margin-bottom: 10px;
			}

			.sui-vertical-tabs {

				.sui-vertical-tab {
					position: relative;
					display: flex;
					justify-content: space-between;
					padding: 5px 15px;
					height: auto;
					border-radius: 15px;

					&.current {
						background-color: $sidenav-tab-active-bg-color;

						a {
							color: $sidenav-tab-active-color;
						}
					}

					i,
					.sui-tag {
						align-self: center;
					}

					.sui-tag {
						margin: -3px -13px -3px 5px;
						&.sui-tag-beta,
						&.sui-tag-pro {
							margin: -3px -5px -3px 5px;
						}
					}

					i {
						line-height: 16px;
						height: 16px;
						margin-right: -7px;
					}

					i:before {
						font-size: 16px;
					}
				}

				a {
					color: $sidenav-tab-color;
					display: block;
					font-weight: 500;
					transition: .3s;
					line-height: 20px;

					&:hover,
					&:focus {
						color: $sidenav-tab-color-hover;
					}
				}
			}

			.sui-sidenav-hide-md {
				@media (max-width: 1100px) {
					display: none;
				}
			}

			.sui-sidenav-hide-lg {
				@media (min-width: 1100px) {
					display: none;
				}
			}
		}

		& .sui-box {
			display: block;
			position: relative;
			vertical-align: top;

			@media (max-width: 1100px) {
				display: block;
			}
		}
	}
}
