@include body-class {

	.sui-summary {
		padding: 30px 30px 10px;
		background-image: url(../images/graphic-hb-minify-summary@2x.png);
		background-repeat: no-repeat;
		background-position: 3% 100%;
		background-size: 172px ;

		@include media-custom(max-width,1100){
			background-image: none;
		}

		& .sui-summary-image-space {
			width: 100%;
			min-height: 172px;
			float: left;
			max-width: 192px;

			@include media-custom(max-width,1100){
				display: none;
			}
		}

		& .sui-summary-segment {
			color: #333333;
			width: calc(100% / 2 - 98px);
			padding-left: 5%;
			padding-top: 10px;
			display: inline-block;
			vertical-align: middle;

			& small {
				font-size: 13px;
				margin-top: 0;
				color: $list-summary-small-color;
			}

			& p {
				margin: 0;
			}

			& .sui-summary-large {
				font-size: 55px;
				line-height: 30px;
				margin-bottom: 20px;
			}

			@include media-custom(max-width,1100){
				text-align: left;
				padding-left: 0;
				width: 49%;
			}

			@include media-custom(max-width,600){
				display: block;
				text-align: center;
				width: 100%;
			}

			& .sui-list {

				@include media-custom(max-width,600){
					text-align: left;
				}

				& .sui-summary-number {
					font-family: $font--alt;
					font-size: 18px;
					color: $list-summary-number-color;
				}
			}
		}
	}
}
