@include body-class(true) {

	.sui-tabs {
		float: none;
		position: relative;
		margin: 0;
		padding: 0;
		border-top: 1px solid $tabs-content-border-color;
		background-color: $white;

		&:before, &:after {
			content: '';
			display: table;
			clear: both;
		}

		.sui-tab {
			float: left;

			> label {
				cursor: pointer;
				display: block;
				position: relative;
				top: 0;
				margin: 0 10px;
				padding: 14px 0 12px;
				border: 0;
				border-bottom: 2px solid transparent;
				color: $tabs-label-color;
				font-size: 12px;
				line-height: 22px;
				font-weight: 500;
				text-transform: uppercase;
			}

			input[type=radio] {
				display: none;
				&:checked + label {
					background-color: $white;
					color: $tabs-label-checked-color;
					height: 61px;
					z-index: 3;
				}
			}

			.sui-tab-content {
				z-index: 2;
				display: none;
				text-align: left;
				left: 0;
				right: 0;
				width: auto;
				padding: 30px 0 0;
				position: absolute;
				min-height: 150px;
				border-top: 1px solid $tabs-content-border-color;
				background-color: $white;
				overflow: auto;
				top: 49px;

				@include media( max-width, md ) {
					padding: $sui-gutter-md 0 0;
				}
			}

			input[type=radio]:checked ~ .sui-tab-content {
				display: block;
			}

			& > .active {
				color: $tabs-label-active-border-color;
				border-bottom-color: $tabs-label-active-color;
				z-index: 10;
			}

			&:first-child > label {
				margin-left: 0;
			}

			&:last-child > label {
				margin-right: 0;
			}
		}
	}

	// Flushed tabs
	.sui-box-body.sui-tabs-flush {
		padding-top: 0;

		> .sui-tabs {
			border-top: 0;
		}

		> .sui-tabs > .sui-tab {

			> label {
				height: auto;
				padding-bottom: 7px;
				line-height: 22px;

				@include media(min-width, md) {
					padding-bottom: 12px;
				}
			}
		}

		> .sui-tabs > .sui-tab > .sui-tab-content {
			margin-right: -#{$sui-gutter-md};
			margin-left: -#{$sui-gutter-md};
			padding-right: $sui-gutter-md;
			padding-left: $sui-gutter-md;

			@include media(min-width, md) {
				margin-right: -#{$sui-gutter};
				margin-left: -#{$sui-gutter};
				padding-right: $sui-gutter;
				padding-left: $sui-gutter;
			}
		}
	}
}