@include body-class {

	.sui-table {
		width: 100%;
		border: 1px solid $table--border-color;
		border-collapse: collapse;
		border-spacing: unset;
		border-radius: 5px;
		color: $table--text-color;
		font-size: 13px
	}

	.sui-table th {
		text-align: left;
		padding: 20px $sui-gutter;
		font-weight: 500;
		line-height: 1;
		color: $table--th-color;

		@include media( max-width, md ) {
			padding: $sui-gutter-md;
		}
	}

	.sui-table th,
	.sui-table td {
		border-bottom: 1px solid $table--border-color;
	}

	.sui-table tr:last-child td {
		border-bottom: none;
	}

	.sui-table td {
		padding: 20px 30px;
	}

	.sui-table tfoot th {
		border-bottom: none;
		border-top: 1px solid $table--border-color;
	}

	.sui-field-list {
		border: 1px solid $table--border-color;
		border-radius: 5px;
	}

	.sui-field-list-header {
		padding: 20px 30px;
	}

	.sui-field-list-item {
		display: flex;
		align-items: center;
		border-top: 1px solid $table--border-color;
		padding: 15px 30px;
	}

	.sui-field-list-item-label {
		margin-left: 0;
		margin-right: auto;
	}

	.sui-field-list-title {
		font-family: $font;
		font-size: 13px;
		line-height: 30px;
		color: $table--field-list-title-color;
		text-transform: capitalize;
		font-weight: 500;
		margin: 0;
	}

}
