@include body-class(true) {

	.sui-tabs {
		[data-tabs] {
			display: flex;
			border-top: 1px solid $tabs-content-border-color;
			background-color: $white;
		}
		[data-tabs] > * {
			margin: 0 10px;
			padding: 14px 0 12px;
			cursor: pointer;
			border-bottom: 2px solid transparent;
			color: $tabs-label-color;
			font-size: 12px;
			line-height: 22px;
			font-weight: 500;
			text-transform: uppercase;
			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
		[data-tabs] .active {
			color: $tabs-label-active-border-color;
			border-bottom-color: $tabs-label-active-color;
		}
		[data-panes] > * {
			display: none;
			padding: 30px 0 0;
			border-top: 1px solid #e6e6e6;
			margin-top: -1px;
		}
		[data-panes] > .active {
			display: block;
		}

		&.sui-side-tabs {
			border-top: 0;
			background-color: transparent;

			[data-tabs] {
				border-top: 0;

				> * {
					margin-right: 1px;
					margin-left: 0;
					padding: 9px 20px;
					border-bottom: 0;
					background-color: $side-tabs--label-background;
					color: $side-tabs--label-color;
					font-size: 13px;
					text-transform: none;

					&.active {
						background-color: $side-tabs--label-active-background;
						color: $side-tabs--label-active-color;
					}

					&:first-child {
						border-top-left-radius: $border-radius;
						border-bottom-left-radius: $border-radius;
					}

					&:last-child {
						margin-right: 0;
						border-top-right-radius: $border-radius;
						border-bottom-right-radius: $border-radius;
					}
				}
			}

			[data-panes] > * {
				top: 40px;
				border-top: 0;
			}
		}
	}

	// Flushed tabs
	.sui-box-body.sui-tabs-flush {
		padding-top: 0;

		> .sui-tabs {
			[data-tabs] {
				border-top: 0;
			}
		}

		[data-panes] {
			border-top: 1px solid #e6e6e6;
			margin-top: -1px;
			margin-right: -#{$sui-gutter-md};
			margin-left: -#{$sui-gutter-md};
			padding-right: $sui-gutter-md;
			padding-left: $sui-gutter-md;

			@include media(min-width, md) {
				margin-right: -#{$sui-gutter};
				margin-left: -#{$sui-gutter};
				padding-right: $sui-gutter;
				padding-left: $sui-gutter;
			}
		}
	}

}
