@include body-class {

	.sui-table {
		width: 100%;
		table-layout: fixed;
		border: 1px solid $table--border-color;
		border-collapse: collapse;
		border-spacing: unset;
		border-radius: 5px;
		color: $table--text-color;
		font-size: 13px
	}

	.sui-table th {
		white-space: nowrap;
		text-align: left;
		padding: 20px $sui-gutter/2;
		font-weight: 500;
		line-height: 1;
		color: $table--th-color;
		
		&:first-child {
			padding-left: $sui-gutter;

			@include media( max-width, md ) {
				padding-left: $sui-gutter-md;
			}
		}

		&:last-child {
			padding-right: $sui-gutter;

			@include media( max-width, md ) {
				padding-right: $sui-gutter-md;
			}
		}

		@include media( max-width, md ) {
			padding: $sui-gutter-md $sui-gutter-md/2
		}
	}

	.sui-table th,
	.sui-table td {
		border-bottom: 1px solid $table--border-color;
	}

	.sui-table tr:last-child td {
		border-bottom: none;
	}

	.sui-table td {
		padding: 20px $sui-gutter-md/2;

		&:first-child {
			padding-left: $sui-gutter;

			@include media( max-width, md ) {
				padding-left: $sui-gutter-md;
			}
		}

		&:last-child {
			padding-right: $sui-gutter;

			@include media( max-width, md ) {
				padding-right: $sui-gutter-md;
			}
		}

		@include media( max-width, md ) {
			padding: $sui-gutter-md $sui-gutter-md/2
		}
	}

	.sui-table tfoot th {
		border-bottom: none;
		border-top: 1px solid $table--border-color;
	}

	.sui-field-list {
		border: 1px solid $table--border-color;
		border-radius: 5px;
	}

	.sui-field-list-header {
		padding: 20px 30px;
	}

	.sui-field-list-item {
		display: flex;
		align-items: center;
		border-top: 1px solid $table--border-color;
		padding: 15px 30px;
	}

	.sui-field-list-item-label {
		margin-left: 0;
		margin-right: auto;
	}

	.sui-field-list-title {
		font-family: $font;
		font-size: 13px;
		line-height: 30px;
		color: $table--field-list-title-color;
		text-transform: capitalize;
		font-weight: 500;
		margin: 0;
	}

	@include media( max-width, md ) {

		.sui-table {
			border: none;

			td,
			th {
				padding: 15px 15px 15px 0;
				&:last-of-type {
					padding-right: 0;
				}
			}

			tr:last-child td {
				border-bottom: 1px solid $table--border-color;
			}
		}

	}

}
