@include body-class {

	// Toggle base styles.
	.sui-toggle {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 16px;
	}

	// Checkbox powering the toggle.
	.sui-toggle input[type="checkbox"] {
		@extend %sui-screen-reader-text;

		&[disabled] + .sui-toggle-slider {
			opacity: .5;
			cursor: not-allowed;
		}
	}

	// Toggle background when off.
	.sui-toggle-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #FAFAFA;
		border-radius: 100px;
		transition: .4s;
		border: 1px solid #E6E6E6;
	}

	// Knob when off.
	.sui-toggle-slider:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: -1px;
		bottom: -1px;
		background-color: #888888;
		border-radius: 50%;
		transition: .2s;
	}

	// Knob when on.
	input[type="checkbox"]:checked + .sui-toggle-slider:before {
		background-color: #00A8E1;
		transform: translateX(18px);
	}

	// Toggle focus style.
	input[type="checkbox"]:focus + .sui-toggle-slider {

	}
}
