@include body-class {

	.sui-tooltip {
		position: relative;

		&:before,
		&:after {
			content: "";
			opacity: 0;
			backface-visibility: hidden;
			pointer-events: none;
			position: absolute;
			z-index: 1;
			transition: margin .2s, opacity .2s;
		}

		&:before {
			border: 5px solid transparent;
		}

		&:after {
			content: attr(data-tooltip);
			min-width: 40px;
			padding: 8px 12px;
			border-radius: 4px;
			background: $tooltips-color;
			box-sizing: border-box;
			color: $white;
			font: 400 12px/18px $font;
			text-transform: none;
			text-align: center;
			white-space: nowrap;
		}

		&:hover {
			&:before,
			&:after {
				opacity: 1;
			}
		}

		// Size: One Line Constrained Width
		&.sui-tooltip-constrained {
			&:after {
				min-width: 240px;
				white-space: normal;
			}
		}

		// Position: Top
		&.sui-tooltip-top:before,
		&:before {
			bottom: 100%;
			left: 50%;
			border-top-color: $tooltips-color;
			transform: translateX(-50%);
		}

		&.sui-tooltip-top:after,
		&:after {
			bottom: 100%;
			left: 50%;
			margin: 0 0 10px;
			transform: translateX(-50%);
		}

		// Position: Top-right & Top-left
		&.sui-tooltip-top {
			&-right {
				&:after {
					left: 0;
					transform: translateX(0);
				}
			}
			&-left {
				&:after {
					left: auto;
					transform: translateX(0);
					right: 0;
				}
			}
		}

		// Position: Bottom, Bottom-right & Bottom-left
		&.sui-tooltip-bottom {
			&-left:before,
			&-right:before,
			&:before {
				top: 100%;
				bottom: inherit;
				border-top-color: transparent;
				border-bottom-color: $tooltips-color;
			}

			&-left:after,
			&-right:after,
			&:after {
				top: 100%;
				bottom: inherit;
				margin: 10px 0 0;
				transform: translateX(0);
			}

			&:after {
				transform: translateX(-50%);
			}

			&-right {
				&:after {
					left: 0;
				}
			}

			&-left {
				&:after {
					left: auto;
					right: 0;
				}
			}
		}

		// Position: Left
		&.sui-tooltip-left {
			&:before {
				top: 50%;
				right: 100%;
				bottom: inherit;
				left: inherit;
				border-top-color: transparent;
				border-left-color: $tooltips-color;
				transform: translateY(-50%);
			}

			&:after {
				top: 50%;
				right: 100%;
				bottom: inherit;
				left: inherit;
				margin: 0 10px 0 0;
				transform: translateY(-50%);
			}
		}

		// Position: Right
		&.sui-tooltip-right {
			&:before {
				top: 50%;
				bottom: inherit;
				left: 100%;
				border-top-color: transparent;
				border-right-color: $tooltips-color;
				transform: translateY(-50%);
			}

			&:after {
				top: 50%;
				bottom: inherit;
				left: 100%;
				margin: 0 0 0 10px;
				transform: translateY(-50%);
			}
		}
	}
}
