// Typography

@if variable-exists(google-fonts-url) and $import-font == true {
	@import url($google-fonts-url);
}

// Base
@include body-class {

	.sui-wrap {
		font-family: $font;
		font-weight: $font--weight;
		font-size: $font--size;
		line-height: $font--line-height;
		color: $font-color;
		letter-spacing: $font--letter-spacing;
		text-rendering: optimizeLegibility;
		margin: $sui-gutter $sui-gutter 0 ($sui-gutter - 20px); // Account for padding from #wpcontent.
		@include media( max-width, md ) {
			margin: $sui-gutter-md ($sui-gutter-md - 10px) 0 ($sui-gutter-md - 20px); // Account for padding from #wpcontent.
		}
	}

}

// Headings
@include body-class {

	h1, h2, h3, h4, h5, h6 {
		display: block;
		margin: 0.5em auto;
		padding: 0;
		line-height: $font--line-height;
		color: $headings-color;
		font-weight: $font--weight-bold;
		font-family: $font--alt;
	}

	h1 {
		font-size: $h1-font-size;
		line-height: $h1-line-height;
		color: $headings-color;
		margin: 0;
	}
	h2 {
		font-size: $h2-font-size;
		line-height: $h2-line-height;
	}

	h3 {
		font-size: $h3-font-size;
		line-height: $h3-line-height;
	}

	h4 {
		font-size: $h4-font-size;
	}

	h5 {
		font-size: $h5-font-size;
	}

	h6 {
		font-size: $h6-font-size;
	}

}

// Paragraph
@include body-class {

	p {
		font-family: $font;
		font-weight: $font--weight;
		font-size: $font--size;
		line-height: $font--line-height;
		color: $font-color;
		letter-spacing: $font--letter-spacing;
		text-rendering: optimizeLegibility;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	p small {
		font-size: 13px;
		line-height: 22px;
		color: $p-small-color;
	}

}

// Links
@include body-class {

	a {
		text-decoration: none;
		color: $a-color;
		font-weight: 500;
		outline-color: transparent;
		outline-style: none;
		box-shadow: none;

		&:hover, &:focus, &:active {
			&:not(.sui-button) {
				color: $a-action-color;
			}
		}

		&.disabled {
			pointer-events: none;

			&:hover, &:focus, &:active {
				color: $a-disabled-color;
				cursor: default;
			}

		}

	}

}

// Code
@include body-class {

	code,
	pre {
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
		color: $pre-color;
		background-color: $code-bg-color;
		border: 1px solid $code-border-color;
		border-radius: $border-radius;
		margin: 0;
		padding: 10px 15px;
		white-space: pre;
		overflow: auto;
		max-width: 100%;
		vertical-align: middle;
		tab-size: 4;
	}

	code {
		display: inline-block;
		padding: 2px 5px;
	}

}

// Misc
@include body-class {

	b, strong {
		font-weight: 500;
	}

	dfn {
		font-style: normal;
		font-weight: normal;
		border-bottom: 1px dotted $dfn-border-color;
	}
}





