$sui-version: '2.0.20';

// Import Google Fonts
$import-font:                           true                          !default;
$google-fonts-url:                      'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700|Roboto:400,500,700' !default;

// Typography
$font:                                  "Roboto", Arial, sans-serif   !default;
$font--alt:                             "Roboto Condensed", "Roboto", Arial, sans-serif !default;
$font--size:                            15px                          !default;

$font--weight:                          400;
$font--weight-bold:                     700;

$font--line-height:                     30px                          !default;
$font--letter-spacing:                  -0.025em                      !default;

$h1-font-size:                          32px                          !default;
$h2-font-size:                          22px                          !default;
$h3-font-size:                          18px                          !default;
$h4-font-size:                          15px                          !default;
$h5-font-size:                          15px                          !default;
$h6-font-size:                          15px                          !default;

$h1-line-height:                        40px;
$h2-line-height:                        35px;
$h3-line-height:                        40px;

$border-radius:                         3px                           !default;

// Layout
$sui-gutter:                            30px                          !default;
$sui-gutter-md:                         20px                          !default;
$sui-total-grid-cols:                   12                            !default;
$sui-breakpoints: (
	xs: 0px,
	sm: 480px,
	md: 783px,
	lg: 1200px
) !default;

// Summary
$summary-image-default-url:            '../images/graphic-hb-minify-summary@2x.png' !default;
$summary-image-default-position:       3% 100%                        !default;
$summary-image-default-width:          192px                          !default;
$summary-image-default-height:         172px                          !default;

// Forms
$form--input-border-radius:            $border-radius                 !default;
$form--input-height-base:              40px                           !default;
$form--input-line-height:              $font--line-height             !default;
$form--input-font-weight:              500                            !default;
$form--input-error-font-size:          12px                           !default;
$form--input-error-line-height:        16px                           !default;
$form--input-error-font-weight:        500                            !default;
$form--label-font:                     $font                          !default;
$form--label-font-weight:              500                            !default;
$form--label-font-size:                12px                           !default;
$form--label-line-height:              16px                           !default;
$form--description-font-weight:        400                            !default;
$form--description-font-size:          13px                           !default;

// Paths
$sui-image-path:                       '../images/'                   !default;
$sui-font-path:                        '../fonts/'                    !default;

// Scores
$circle-score-sm:                      30px                           !default;
$circle-score-lg:                      120px                          !default;
$circle-score-label-spacing:           10px                           !default;

// Sidenav
$sidenav-width:                        220px                          !default;

// Margin
$default-margin:                       30px                           !default;

// Padding
$default-padding:                      30px                           !default;
