// Colors
// Primary Colors
$color-white: #FFFFFF;
$color-silver: #F2F2F2;
$color-blue: #17A8E3;
$color-royal-blue: #18485D;
$color-green: #1ABC9C;
$color-yellow: #F4B414;
$color-red: #C40000;
$color-gray: #666666;
$color-black: #000000;

// Light Colors
$color-red--light: #CB4B57;
$color-gray--light: #888888;
$color-silver--light: #F8F8F8;

// Soft Colors
$color-silver--soft: #E6E6E6;
$color-yellow--soft: #FFF5D5;
$color-blue--soft: #D2F0FF;

// Dark Colors
$color-blue--dark: #0073A4;
$color-royal-blue--dark: #043045;
$color-gray--dark: #333333;
$color-silver--dark: #AAAAAA;

// Other Colors
$color-silver--alt: #E9E9E9;
$color-yellow--alt: #FFCA00;
$color-gray--alt: #777771;
$color-link: #19B4CF;
$color-link--alt: #477B92;
$color-link--disabled: #788084;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

// Typography
$font: "Roboto", Arial, sans-serif;
$font--alt: "Roboto Condensed", "Roboto", Arial, sans-serif;
$font--opn: "Open Sans", Arial, sans-serif;
$font--src: "Source Code Pro", monospace;
$font--icons: 'WPMU-DEV-Icon', Arial, sans-serif;
$font--path: "../fonts" !default;
$font--color: $color-gray;
$font--size: 15px;

$font--weight: 400;
$font--weight-bold: 700;

$font--line-height: 30px;
$font--letter-spacing: -0.025em;

$h1-font-size: 32px !default;
$h2-font-size: 22px !default;
$h3-font-size: 18px !default;
$h4-font: 600 18px/30px $font !default;
$h5-font: 700 16px/24px $font !default;
$h6-font: 700 13px/22px $font !default;

$h1-line-height: 40px;
$h2-line-height: 35px;
$h3-line-height: 40px;

$border-radius: 5px !default;



// [ALL] Default Transition
$transition: all 0.2s ease;

// [ALL] Linear Transition
$transition-linear: 0.2s linear;
