#adminmenuback,
#adminmenuwrap,
#adminmenu {
	width: 160px;
	background-color: palette(adminmenu, background);
}

#adminmenuback {
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: -120px;

	@include device(max-width, mobile) {
		display: none;
	}
}

#adminmenuwrap {
	position: relative;
	float: left;
	z-index: 9990;
}

#adminmenu {
	clear: left;
	margin: 12px 0;
	padding: 0;
	list-style: none;

	* {
		user-select: none;
	}

	li {
		cursor: pointer;
		margin: 0;
		padding: 0;

		&.current,
		&.wp-menu-open {
			border: 0 none;
		}

		&.menu-top {
			min-height: 34px;
			position: relative;
			border: none;
		}

		&.wp-menu-separator {
			height: 5px;
			cursor: inherit;
			margin: 0 0 6px 0;
			padding: 0;
		}
	}
}

#collapse-menu {

	@include device(max-width, tablet) {
		display: none !important;
	}
}

#collapse-button {
	width: 100%;
	height: 34px;
	cursor: pointer;
	overflow: visible;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
	background: 0 0;
	color: palette(collapse, default);

	.collapse-button-icon,
	.collapse-button-label {
		display: block;
		position: absolute;
		top: 0;
		left: 0;

		&:after {
			transition: all .1s ease-in-out;
		}
	}

	.collapse-button-icon {
		width: 36px;
		height: 34px;

		&:after {
			content: "\f148";
			display: block;
			position: relative;
			top: 7px;
			font: normal 20px/1 dashicons !important;
			text-align: center;
			speak: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}

	.collapse-button-label {
		top: 8px;
		padding: 0 0 0 36px;
	}

	&:hover {
		color: palette(collapse, hover);
	}

	&:focus {
		outline: 1px solid transparent;
		outline-offset: -1px;
		color: palette(collapse, focus);
	}
}

.sticky-menu {

	#adminmenuwrap {
		position: fixed;
	}
}

.folded {

	#adminmenuback,
	#adminmenuwrap,
	#adminmenu,
	#adminmenu li.menu-top {
		width: 36px;
	}

	#adminmenu {

		li {

			&.current,
			&.wp-has-current-submenu {
				background: palette(adminmenu-li, background-default);
				color: palette(adminmenu-li, color-default);
			}

			&.current,
			&.wp-menu-open {
				border: 0 none;
			}
		}
	}

	#collapse-button {

		.collapse-button-icon {

			&:after {
				transform: rotate(180deg);
			}
		}

		.collapse-button-label {
			display: none;
		}
	}
}

.auto-fold {

	#adminmenuback,
	#adminmenuwrap,
	#adminmenu {

		@include device(max-width, tablet) {
			width: 190px;
			position: absolute;
			z-index: 100;
		}

		@include device(max-width, laptop) {
			width: 36px;
		}
	}

	#adminmenuback,
	#adminmenuwrap {

		@include device(max-width, tablet) {
			display: none;
		}
	}

	#adminmenuback {

		@include device(max-width, tablet) {
			position: fixed;
		}
	}

	#adminmenu {

		li {

			&.menu-top {

				@include device(max-width, tablet) {
					width: 100%;
				}

				@include device(max-width, laptop) {
					width: 36px;
				}
			}

			&.wp-menu-open {

				@include device(max-width, laptop) {
					border: 0 none;
				}
			}
		}
	}

	#collapse-button {

		.collapse-button-icon {

			&:after {

				@include device(max-width, laptop) {
					transform: rotate(180deg);
				}
			}
		}

		.collapse-button-label {

			@include device(max-width, laptop) {
				display: none;
			}
		}
	}

	.wp-responsive-open {

		#adminmenuback,
		#adminmenuwrap {

			@include device(max-width, tablet) {
				display: block;
			}
		}
	}
}