#wpcontent {
	height: 100%;
	padding-left: 20px;
	margin-left: 160px;
}

#wpbody {
	position: relative;

	@include device(max-width, mobile) {
		padding-top: 46px;
	}
}

#wpbody-content {
	width: 100%;
	overflow: visible !important;
	float: left;
	padding-bottom: 65px;

	@include device(max-width, tablet) {
		padding-bottom: 100px;
	}
}

.wrap {
	margin: 10px 20px 0 2px;

	@include device(max-width, tablet) {
		clear: both;
		margin-right: 12px;
		margin-left: 0;
	}
}

// VARIATION: Folded.
.folded #wpcontent {
	margin-left: 36px;
}

// VARIATION: Auto Fold.
.auto-fold #wpcontent {



	@include device(max-width, tablet) {
		position: relative;
		margin-left: 0;
		padding-left: 10px;
	}

	@include device(max-width, laptop) {
		margin-left: 36px;
	}
}