$device-breakpoints: (
	mobile: 600px,
	tablet: 782px,
	tablet-lg: 799px,
	laptop: 960px,
);

$palettes: (
	body: (
		background: #F1F1F1,
		color: #444444,
	),
	link: (
		default: #0073AA,
		hover: #00A0D2,
	),
	adminbar: (
		background: #23282D,
		color: #CCCCCC,
	),
	adminmenu: (
		background: #23282D,
	),
	collapse: (
		default: #AAAAAA,
		hover: #00B9EB,
		focus: #00B9EB,
	),
);

$menu-size: (
	small: 36px,
	default: 160px,
	large: 190px,
);

$bar-size: (
	default: 32px,
	large: 46px,
);

@function palette($palette, $tone: 'default') {
	@return map-get( map-get($palettes, $palette), $tone );
}

@function adminmenu($size) {
	@return map-get($menu-size, $size);
}

@function adminbar($size) {
	@return map-get($bar-size, $size);
}

@mixin device($type, $breakpoint-name-1, $breakpoint-name-2: null) {

	@if ($type == min-width) {

		$min-breakpoint-width: map-get($device-breakpoints, $breakpoint-name-1) + 1px;

		@media screen and (min-width: $min-breakpoint-width) {
			@content;
		}
	}

	@else if ($type == max-width) {

		$max-breakpoint-width: map-get($device-breakpoints, $breakpoint-name-1);

		@media screen and (max-width: $max-breakpoint-width) {
			@content;
		}
	}

	@else if ($type == between) {

		$min-breakpoint-width: map-get($device-breakpoints, $breakpoint-name-1) + 1px;
		$max-breakpoint-width: map-get($device-breakpoints, $breakpoint-name-2);

		@media screen and (min-width: $min-breakpoint-width) and (max-width: $max-breakpoint-width) {
			@content;
		}
	}

	@else {
		@warn "Unfortunately, no type could be retrieved from `#{$type}`. "
		+ "Use either `min-width`, `max-width`, or `between`.";
	}
}