/* ****************************************************************************
 * COMMON: VARIABLES
 */

// Colors

// Primary Colors
$color--primary-blue: #17A8E3;
$color--primary-blue-darker: #0A9BD6;
$color--primary-blue-royal: #14485F;
$color--primary-green: #1ABC9C;
$color--primary-green-darker: #0DAF8F;
$color--primary-red: #FF6D6D;
$color--primary-red-lighter: #FFE5E9;
$color--primary-yellow: #FECF2F;
$color--primary-grey: #666666;
$color--primary-grey-lighter: #888888;
$color--primary-grey-dark: #7B7B7B;
$color--primary-grey-darkest: #333333;

// Secondary Colors
$color--secondary-blue-soft: #D4EEF9;
$color--secondary-green-soft: #D4F1EB;
$color--secondary-yellow-soft: #FFF5D5;
$color--secondary-red-soft: #FFE5E9;
$color--secondary-silver: #F2F2F2;
$color--secondary-silver-light: #F8F8F8;
$color--secondary-silver-dark: #E6E6E6;
$color--secondary-silver-darker: #AAAAAA;

// Easy Var Names
$color--success: $color--primary-green;
$color--error: $color--primary-red;
$color--warning: $color--primary-yellow;


// Typo
$font: 'Roboto', Arial, sans-serif;
$font--alt: 'Roboto Condensed', 'Roboto', Arial, sans-serif;
$font--icons: 'WPMU-DEV-Icon', Arial, sans-serif;
$font--path: "../fonts" !default;

// Space
$space: 30px;
$space--xxs: 5px;
$space--xs: 10px;
$space--s: 15px;
$space--m: 20px;
$space--l: 40px;
$space--xl: 50px;
$space--xxl: 60px;

// Responsive Sizes:
$phone: 480px;
$phone--large: 600px;
$tablet: 783px;
$desktop--small: 960px;
$desktop: 1100px;
$desktop--large: 1200px;
$desktop--wide: 1440px;
$desktop--very-large: 1600px;