---
layout: search
title: Shared UI
---

<article class="sui-box">

	<div class="sui-box-body">

		<p>Welcome to <a href="https://wpmudev.com/" target="_blank" rel="noindex">WPMU DEV</a> Shared UI Library.</p>

		<ol>{% for parent in site.adminmenu %}
			<li><strong>{{ parent.name }}</strong>
				<ul class="showcase-child-list">
					{% for child in parent.children %}
						<li><a href="{{ child.url | relative_url }}">{{ child.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}</ol>

	</div>

</article>