@mixin icon($position: before, $icon: false, $styles: true) {
	@if $position == both {
		$position: 'before, &:after';
	}
	// Either a :before or :after pseudo-element, or both, defaulting to :before
	&:#{$position} {
		@if $icon {
			// A particular icon has been specified
			content: "#{map-get($icons, $icon)}";
		}
		@if $styles {
			/* use !important to prevent issues with browser extensions that change fonts */
			font-family: $font--icons !important;
			speak: none;
			font-size: 15px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		// Include any extra rules supplied for the pseudo-element
		@content;
	}
}