#docs-root .csb-block {
	padding: 40px 0;
	border-bottom: 1px solid #ddd;
}

#docs-root .csb-block:first-child {
	padding-top: 0;
}

#docs-root .csb-block:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

#docs-root .csb-block__title {
	margin: 0 0 20px;
	padding: 0;
	border: 0;
	color: var(--csb-mono-color--black);
	font-size: 18px;
	line-height: 32px;
}
