:root {
	/** Primary color */
	--csb-primary-color--base: #2f80ed;
	--csb-primary-color--light: #82b3f4;
	--csb-primary-color--lighter: #d5e6fb;
	--csb-primary-color--dark: #1c4d8e;
	--csb-primary-color--darker: #091a2f;
	/** Secondary color */
	--csb-secondary-color--base: #9026b1;
	--csb-secondary-color--light: #bc7dd0;
	/** Monochrome color */
	--csb-mono-color--white: #ffffff;
	--csb-mono-color--silver: #f1f1f1;
	--csb-mono-color--gray: #888888;
	--csb-mono-color--black: #333333;
	/** Page colors */
	--csb-page-title--color: #333333;
	--csb-page-subtitle--color: #888888;
	--csb-page-content--color: #333333;
	/** Link colors */
	--csb-link-color--static: #2f80ed;
	--csb-link-color--hover: #82b3f4;
	/** Button colors */
	--csb-button-color--static: var(--csb-mono-color--white);
	--csb-button-background--static: var(--csb-primary-color--normal);
	--csb-button-color--hover: var(--csb-mono-color--white);
	--csb-button-background--hover: var(--csb-primary-color--normal);
}
