#docs-root .csb-footer {
	padding: 20px 30px;
}

#docs-root .csb-footer__print {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #1a1a1a;
	font-size: 11px;
	font-weight: 500;
	line-height: 20px;
}

#docs-root .csb-footer__print img {
	margin-right: 13px;
}

#docs-root .csb-footer__links {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 0 -10px;
}

#docs-root .csb-footer__link {
	padding: 5px 10px;
	color: #1a1a1a;
	font-size: 11px;
	font-weight: 500;
	line-height: 20px;
}

#docs-root .csb-footer__link:last-child {
	margin-right: 0;
}

#docs-root .csb-footer__link:hover,
#docs-root .csb-footer__link:focus {
	color: #7b7b7b;
}

@media (max-width: 989px) {
	#docs-root .csb-footer__print {
		justify-content: center;
		margin-bottom: 20px;
	}

	#docs-root .csb-footer__links {
		justify-content: center;
	}
}

@media (min-width: 990px) {
	#docs-root .csb-footer {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		padding: 20px 80px;
	}
}
