#docs-root .csb-palette__item {
	margin: 0;
	padding: 20px 10px;
	border: 0 solid #e5e5e5;
	border-bottom-width: 1px;
}

#docs-root .csb-palette__item:last-child {
	border-bottom-width: 0;
}

#docs-root .csb-palette__item:nth-child(1) {
	margin: 0;
	padding: 0;
	background: var(--csb-mono-color--silver);
	color: var(--csb-mono-color--black);
}

#docs-root .csb-palette__item:nth-child(1) {
	padding: 10px;
}

#docs-root .csb-palette__item > div {
	margin: 0;
	padding: 0;
}

#docs-root .csb-palette__item > div:nth-child(1) {
	color: var(--csb-mono-color--black);
	font-size: 14px;
	line-height: 22px;
}

#docs-root .csb-palette__item > div:nth-child(2) > div {
	margin: 0;
}

#docs-root .csb-palette__item > div:nth-child(2) div[title] {
	color: var(--csb-mono-color--black);
	font-size: 13px;
	line-height: 20px;
	text-align: left;
}
