#docs-root .csb-switcher {
	margin: 40px 0;
}

#docs-root .csb-switcher:first-child {
	margin-top: 0;
}

#docs-root .csb-switcher:last-child {
	margin-bottom: 0;
}

#docs-root .csb-switcher__bar {
	margin-bottom: 40px;
}

#docs-root .csb-switcher__select.is-hidden {
	display: none;
}

#docs-root .csb-switcher__content.is-hidden {
	display: none;
}
