/** Import "Roboto" font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

#docs-root .csb-page,
#docs-root .csb-page h1,
#docs-root .csb-page h2,
#docs-root .csb-page h3,
#docs-root .csb-page h4,
#docs-root .csb-page h5,
#docs-root .csb-page h6,
#docs-root .csb-page p,
#docs-root .csb-page ul,
#docs-root .csb-page ol,
#docs-root .csb-page li,
#docs-root .csb-page button,
#docs-root .csb-page table,
#docs-root .csb-page th,
#docs-root .csb-page td {
	font-family: "Roboto", sans-serif;
}

#docs-root .csb-page__title {
	margin: 0;
	padding: 0;
	border: 0;
	color: #333;
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
}

#docs-root .csb-page__subtitle {
	margin: 0;
	padding: 0;
	border: 0;
	color: #888;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
}

@media (min-width: 990px) {
	#docs-root .csb-page__title {
		font-size: 36px;
		line-height: 44px;
	}

	#docs-root .csb-page__subtitle {
		font-size: 20px;
		line-height: 32px;
	}
}
