$palettes: (
	mono: (
		white:       #FFFFFF,
		cloud:       #FAFAFA,
		haze:        #F8F8F8,
		smoke:       #F2F2F2,
		silver:      #E6E6E6,
		overcast:    #DDDDDD,
		fiftyshades: #AAAAAA,
		grey:        #888888,
		ironmike:    #666666,
		nightrider:  #333333,
		black:       #000000,
	),
	blue: (
		default: #17A8E3,
		ghost:   #E1F6FF,
		dark:    #1286B5,
	),
	red: (
		default: #FF6D6D,
		ghost:   #FFE5E9,
		dark:    #E44B4B,
	),
	purple: (
		default: #8D00B1,
		ghost:   #F9E1FF,
		dark:    #70018C,
	),
	green: (
		default: #1ABC9C,
		ghost:   #D1F1EA,
		dark:    #139E83,
	),
) !default;

// Monochromatic colours.
$white:       palette(mono, white);
$cloud:       palette(mono, cloud);
$haze:        palette(mono, haze);
$smoke:       palette(mono, smoke);
$silver:      palette(mono, silver);
$overcast:    palette(mono, overcast);
$fiftyshades: palette(mono, fiftyshades);
$grey:        palette(mono, grey);
$ironmike:    palette(mono, ironmike);
$nightrider:  palette(mono, nightrider);

// Solid colours.
$blue:   palette(blue);
$red:    palette(red);
$purple: palette(purple);
$green:  palette(green);

// Ghost colours.
$blue-ghost:   palette(blue, ghost);
$green-ghost:  palette(green, ghost);
$yellow-ghost: palette(yellow, ghost);
$red-ghost:    palette(red, ghost);
$purple-ghost: palette(purple, ghost);

// Dark colours.
$blue-dark:   palette(blue, dark);
$green-dark:  palette(green, dark);
$yellow-dark: palette(yellow, dark);
$red-dark:    palette(red, dark);
$purple-dark: palette(purple, dark);
