$sui-version: '2.12.3';
$sui-wrap-class: 'sui-wrap';

// ========================================
// Typography.
$font: "Roboto", Arial, sans-serif !default;

$font--normal: 400;
$font--medium: 500;
$font--bold: 700;

$font--letter-spacing: -0.25px;

// ========================================
// Design.
$element--height: 30px;
$element--border-radius: 4px;

// ========================================
// Animation.
$transition: all 0.3s ease !default;