{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSameLine": false,
	"semi": true,
	"arrowParens": "always",
	"parenSpacing": true,
	"overrides": [
		{
			"files": "*.{css,sass,scss}",
			"options": {
				"singleQuote": false,
				"parenSpacing": false
			}
		}
	]
}
