%sui-screen-reader-text {
	width: 1px;
	min-width: 1px;
	height: 1px;
	min-height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	position: absolute !important;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}

@include body-class() {

	.sui-screen-reader-text {
		@extend %sui-screen-reader-text;
	}
}

@include body-class(true) {

	.sui-screen-reader-text {
		@extend %sui-screen-reader-text;
	}
}