@use 'sass:math';

@include body-class(true) {
	.sui-highlighted {	
		display: flex;
		align-items: flex-start;
		margin: 0;
		padding: #{math.div($sui-gutter-md, 2) + 1px} $sui-gutter-md;
		border: 0;
		border-radius: $border-radius;
		background-color: $white;
		box-shadow: inset 2px 0 0 0 $fiftyshades, inset 0 0 0 1px $silver;

		p {
			margin: 0 0 math.div($sui-gutter-md, 2);
			padding: 0;
			border: 0;
			color: $nightrider;
			font-size: 13px;
			line-height: 22px;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.sui-highlighted__icon {
			display: block;
			color: $grey;
			text-align: center;
			float: left;
			position: relative;
			top: 2px;
			margin-right: #{$sui-gutter - 20px};

			&:before {
				display: block;
				color: inherit;
			}

			&.sui-sm {
				top: 4px;
			}

			&.sui-md {
				top: 2px;
			}

			&.sui-lg {
				top: 1px;
			}
		}

	}

	// colors variants
	.sui-highlighted--blue {
		box-shadow: inset 2px 0 0 0 $blue, inset 0 0 0 1px $silver;

		.sui-highlighted__icon {
			color: $blue;
		}		
	}

	.sui-highlighted--green {
		box-shadow: inset 2px 0 0 0 $green, inset 0 0 0 1px $silver;

		.sui-highlighted__icon {
			color: $green;
		}	
	}

	.sui-highlighted--red {
		box-shadow: inset 2px 0 0 0 $red, inset 0 0 0 1px $silver;

		.sui-highlighted__icon {
			color: $red;
		}
	}

	.sui-highlighted--yellow {
		box-shadow: inset 2px 0 0 0 $yellow, inset 0 0 0 1px $silver;
		
		.sui-highlighted__icon {
			color: $yellow;
		}
	}
	
	.sui-highlighted--purple {
		box-shadow: inset 2px 0 0 0 $purple, inset 0 0 0 1px $silver;
		
		.sui-highlighted__icon {
			color: $purple;
		}
	}

	// VARIATION: Color Accessibility.
	&.sui-color-accessible {

		.sui-highlighted {

			box-shadow: inset 2px 0 0 0 $black, inset 0 0 0 1px $silver;

			p {
				color: $black;
				background-color: $white;
			}
		}
	}

}

// RTL Support.
@include body-class(true, true) {

	.sui-highlighted {
		direction: rtl;
		flex-direction: row;
		box-shadow: inset -2px 0 0 0 $fiftyshades, inset 0 0 0 1px $silver;

		p {
			padding-right: #{$sui-gutter - 20px};
			padding-left: 0;
		}

		.sui-highlighted__message {

			.sui-highlighted__icon {
				left: auto;
				right: -7px;
			}
		}
	}

	// colors variants
	.sui-highlighted--blue {
		box-shadow: inset -2px 0 0 0 $blue, inset 0 0 0 1px $silver;
	}

	.sui-highlighted--green {
		box-shadow: inset -2px 0 0 0 $green, inset 0 0 0 1px $silver;		
	}

	.sui-highlighted--red {
		box-shadow: inset -2px 0 0 0 $red, inset 0 0 0 1px $silver;		
	}

	.sui-highlighted--yellow {
		box-shadow: inset -2px 0 0 0 $yellow, inset 0 0 0 1px $silver;			
	}
	
	.sui-highlighted--purple {
		box-shadow: inset -2px 0 0 0 $purple, inset 0 0 0 1px $silver;
	}

	// VARIATION: Color Accessibility.
	&.sui-color-accessible {

		.sui-highlighted {

			box-shadow: inset -2px 0 0 0 $black, inset 0 0 0 1px $silver;

			p {
				color: $black;
			}
		}
	}
}