@include body-class(true) {
	.sui-highlighted {
		.sui-highlighted__content {
			display: flex;
			align-items: flex-start;
			margin: 0;
			padding: #{($sui-gutter-md / 2) + 1px} $sui-gutter-md;
			border: 0;
			border-radius: $border-radius;
			background-color: $white;
			box-shadow: inset 2px 0 0 0 palette(silver, medium), inset 0 0 0 1px palette(silver, soft);

			p {
				margin: 0 0 #{$sui-gutter-md / 2};
				padding: 0;
				border: 0;
				color: palette(gray, dark);
				font-size: 13px;
				line-height: 22px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.sui-highlighted__message {
				flex: 1;
				position: relative;
				padding: 5px 0 3px;
			}

			mark{
				background-color: palette(gray, light);
			}
		}

		// colors variants
		&.sui-highlighted--blue {
			.sui-highlighted__content{
				box-shadow: inset 2px 0 0 0 $blue, inset 0 0 0 1px palette(silver, soft);
			}
			mark {
				background-color: $blue;
				color: $white;
			}			
		}

		&.sui-highlighted--green {
			.sui-highlighted__content{
				box-shadow: inset 2px 0 0 0 $green, inset 0 0 0 1px palette(silver, soft);
			}
			mark {
				background-color: $green;
				color: $white;
			}			
		}

		&.sui-highlighted--red {
			.sui-highlighted__content{
				box-shadow: inset 2px 0 0 0 $red, inset 0 0 0 1px palette(silver, soft);
			}
			mark {
				background-color: $red;
				color: $white;
			}			
		}

		&.sui-highlighted--yellow {
			.sui-highlighted__content{
				box-shadow: inset 2px 0 0 0 palette(yellow, default), inset 0 0 0 1px palette(silver, soft);
			}
			mark {
				background-color: palette(yellow, default);
			}			
		}
		
		&.sui-highlighted--purple {
			.sui-highlighted__content{
				box-shadow: inset 2px 0 0 0 palette(purple, default), inset 0 0 0 1px palette(silver, soft);
			}
			mark {
				background-color: palette(purple, default);
				color: $white;
			}
		}
		
		// for accessibility purposes screen readers will read this text
		mark::before {
			content: ' [highlight text start] ';
		}
		
		mark::after {
			content: ' [highlight text end] ';
		}
		  
		/* Hide the text created in the CSS content property */
		mark::before,
		mark::after {
			clip-path: inset(100%);
			clip: rect(1px, 1px, 1px, 1px);
			height: 1px;
			overflow: hidden;
			position: absolute;
			white-space: nowrap;
			width: 1px;
		}
	}

	// VARIATION: Color Accessibility.
	&.sui-color-accessible {

		.sui-highlighted {

			.sui-highlighted__content {
				box-shadow: inset 2px 0 0 0 $black, inset 0 0 0 1px palette(silver, soft);

				p {
					color: $black;
				}

				mark{
					background-color: $black;
					color: $white;
				}
			}			

			&.sui-highlighted--blue,
			&.sui-highlighted--green,
			&.sui-highlighted--yellow,
			&.sui-highlighted--red,
			&.sui-highlighted--purple {

				mark{
					background-color: $black;
					color: $white;
				}
			}
		}
	}

}

// RTL Support.
@include body-class(true, true) {

	.sui-highlighted {
		direction: rtl;

		.sui-highlighted__content {
			flex-direction: row;
			box-shadow: inset -2px 0 0 0 palette(silver, medium), inset 0 0 0 1px palette(silver, soft);

			p {
				padding-right: #{$sui-gutter - 4px};
				padding-left: 0;
			}
		}

		// colors variants
		&.sui-highlighted--blue {
			.sui-highlighted__content{
				box-shadow: inset -2px 0 0 0 $blue, inset 0 0 0 1px palette(silver, soft);
			}		
		}

		&.sui-highlighted--green {
			.sui-highlighted__content{
				box-shadow: inset -2px 0 0 0 $green, inset 0 0 0 1px palette(silver, soft);
			}		
		}

		&.sui-highlighted--red {
			.sui-highlighted__content{
				box-shadow: inset -2px 0 0 0 $red, inset 0 0 0 1px palette(silver, soft);
			}		
		}

		&.sui-highlighted--yellow {
			.sui-highlighted__content{
				box-shadow: inset -2px 0 0 0 palette(yellow, default), inset 0 0 0 1px palette(silver, soft);
			}			
		}
		
		&.sui-highlighted--purple {
			.sui-highlighted__content{
				box-shadow: inset -2px 0 0 0 palette(purple, default), inset 0 0 0 1px palette(silver, soft);
			}
		}

	}

	// VARIATION: Color Accessibility.
	&.sui-color-accessible {

		.sui-highlighted {

			.sui-highlighted__content {
				box-shadow: inset -2px 0 0 0 $black, inset 0 0 0 1px palette(silver, soft);

				p {
					color: $black;
				}
			}
		}
	}
}