@use 'sass:math';

@include body-class(true) {
	.sui-highlighted {
		margin: 0 0 $sui-gutter;	
		display: flex;
		align-items: flex-start;
		margin: 0;
		padding: #{math.div($sui-gutter-md, 2) + 1px} $sui-gutter-md;
		border: 0;
		border-radius: $border-radius;
		background-color: $white;
		box-shadow: inset 2px 0 0 0 $fiftyshades, inset 0 0 0 1px $silver;

		p {
			margin: 0 0 math.div($sui-gutter-md, 2);
			padding: 0;
			border: 0;
			color: $nightrider;
			font-size: 13px;
			line-height: 22px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.sui-highlighted__icon {
			width: 30px;
			display: block;
			color: $grey;
			text-align: center;

			&:before {
				display: block;
				color: inherit;
			}

			~ *:not(.sui-notice-icon) {
				padding-left: #{$sui-gutter - 4px};
			}
		}

		.sui-highlighted__message {
			flex: 1;
			position: relative;
			padding: 5px 0 3px;

			.sui-highlighted__icon {
				position: absolute;
				top: 8px;
				left: -7px;

				&.sui-sm {
					top: 9px;
				}

				&.sui-md {
					top: 7px;
				}

				&.sui-lg {
					top: 5px;
				}
			}

			+ .sui-highlighted__actions {
				flex: 0 0 auto;
				margin-right: -#{math.div($sui-gutter-md, 2) - 1px};
				margin-left: math.div($sui-gutter-md, 2);
			}
		}

		&:last-child {
			margin: 0;
		}
		
		// for accessibility purposes screen readers will read this text
		mark::before {
			content: ' [highlight text start] ';
		}
		
		mark::after {
			content: ' [highlight text end] ';
		}
		  
		/* Hide the text created in the CSS content property */
		mark::before,
		mark::after {
			clip-path: inset(100%);
			clip: rect(1px, 1px, 1px, 1px);
			height: 1px;
			overflow: hidden;
			position: absolute;
			white-space: nowrap;
			width: 1px;
		}
	}

	// colors variants
	.sui-highlighted--blue {
		box-shadow: inset 2px 0 0 0 $blue, inset 0 0 0 1px $silver;

		.sui-highlighted__icon {
			color: $blue;
		}			
	}

	.sui-highlighted--green {
		box-shadow: inset 2px 0 0 0 $green, inset 0 0 0 1px $silver;

		.sui-highlighted__icon {
			color: $green;
		}		
	}

	.sui-highlighted--red {
		box-shadow: inset 2px 0 0 0 $red, inset 0 0 0 1px $silver;

		.sui-highlighted__icon {
			color: $red;
		}		
	}

	.sui-highlighted--yellow {
		box-shadow: inset 2px 0 0 0 $yellow, inset 0 0 0 1px $silver;
		
		.sui-highlighted__icon {
			color: $yellow;
		}		
	}
	
	.sui-highlighted--purple {
		box-shadow: inset 2px 0 0 0 $purple, inset 0 0 0 1px $silver;
		
		.sui-highlighted__icon {
			color: $purple;
		}
	}

	// VARIATION: Color Accessibility.
	&.sui-color-accessible {

		.sui-highlighted {

			box-shadow: inset 2px 0 0 0 $black, inset 0 0 0 1px $silver;

			p {
				color: $black;
			}
		}
	}

}

// RTL Support.
@include body-class(true, true) {

	.sui-highlighted {
		direction: rtl;
		flex-direction: row;
		box-shadow: inset -2px 0 0 0 $fiftyshades, inset 0 0 0 1px $silver;

		p {
			padding-right: #{$sui-gutter - 4px};
			padding-left: 0;
		}

		.sui-highlighted__message {

			.sui-highlighted__icon {
				left: auto;
				right: -7px;
			}

			+ .sui-highlighted__actions {
				margin-right: math.div($sui-gutter-md, 2);
				margin-left: -#{math.div($sui-gutter-md, 2) - 1px};
			}
		}

		// colors variants
		&.sui-highlighted--blue {
			box-shadow: inset -2px 0 0 0 $blue, inset 0 0 0 1px $silver;
		}

		&.sui-highlighted--green {
			box-shadow: inset -2px 0 0 0 $green, inset 0 0 0 1px $silver;		
		}

		&.sui-highlighted--red {
			box-shadow: inset -2px 0 0 0 $red, inset 0 0 0 1px $silver;		
		}

		&.sui-highlighted--yellow {
			box-shadow: inset -2px 0 0 0 $yellow, inset 0 0 0 1px $silver;			
		}
		
		&.sui-highlighted--purple {
			box-shadow: inset -2px 0 0 0 $purple, inset 0 0 0 1px $silver;
		}
	}

	// VARIATION: Color Accessibility.
	&.sui-color-accessible {

		.sui-highlighted {

			box-shadow: inset -2px 0 0 0 $black, inset 0 0 0 1px $silver;

			p {
				color: $black;
			}
		}
	}
}