@use 'sass:map';
@use './_mixins/bem' as *;
@use './_sui-button/button-elements' as component;
@use './_sui-button/button-themes' as palette;
@use './_sui-button/_button-utilities/button-utilities' as tool;

$block-name: button;

@use './_sui-button/_button-modifiers/button-modifiers' as sui-button--revise;

$height--default: 30;

@include body-class($wrap: true, $rtl: false, $monochrome: false) {

	@include block('button') {
		// Button main styles.
		@include component.button-container($height--default);

		// Button elements.
		@include component.button-label();
		@include component.button-icon();
		@include component.button-loader();

		// Button modifiers.
		@include tool.button-border-constructor(dashed);
		@include tool.button-state-constructor(loading);
		@include tool.button-theme-constructor(default, palette.$button-theme-text);
		@include tool.button-theme-constructor(modifier, palette.$button-theme-solid, 'solid');
		@include tool.button-theme-constructor(modifier, palette.$button-theme-light, 'light');
		@include tool.button-theme-constructor(modifier, palette.$button-theme-ghost, 'ghost');
	}
}

// Button modifiers.
@include sui-button--revise.button-icon($block-name);
@include sui-button--revise.button-size($block-name);

@include body-class($wrap: true, $rtl: false, $monochrome: true) { 
	@include block('button') {
		color: $accessible-dark;

		&[class*="sui-button--light"]{
			background: $smoke;
			color: $accessible-dark;
			border-color: $smoke;
		}

		&[class*="sui-button--ghost"] {
			background: $accessible-light;
			border-color: $accessible-dark;
			color: $accessible-dark;
		}

		&[class*="sui-button--solid"],
		&[disabled],
		&:hover {
			background: $accessible-dark;
			border-color: $accessible-dark;
			color: $accessible-light;
		}

		&:hover {
			box-shadow: 0 3px 6px 1px rgba(0,0,0,0.2);
		}

		&:focus {
			outline: $ironmike;
			border-color: $ironmike;
			background: $nightrider;
			color: $accessible-light;
		}
	}
} 
