@include body-class {

    .clock-timepicker{
        width: 100%;
        
        .time.sui-form-control{
            transition: none;
        }

        .clock-timepicker-popup{
            left: 0 !important;
            position: absolute !important;
            top: 100% !important;
            border-width: $calendar-border--width;
			border-style: $calendar-border--style;
			border-color: $calendar-border--color;
			border-radius: $calendar-border--radius;
            box-shadow: $calendar-shadow !important;
        }
    }
}