@include body-class(true) {
	.sui-upgrade-page {

		&-highlight {
			max-width: 600px;
			position: relative;
			margin: 0 auto;

			&__container {
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translateY(50%);
				margin: 0 auto;
				padding: $sui-gutter-md;
				border-radius: $border-radius;
				box-shadow: 0 0 20px rgba(0,0,0,0.05);
				background: $white;
			}

			&__item {
				min-width: 1px;
				display: flex;
				flex: 1;
				flex-direction: column-reverse;
				padding: 0 $sui-gutter-md;
				text-align: center;

				dt, dd {
					margin: 0;
					letter-spacing: $font--letter-spacing;
				}

				dt {
					margin-top: 10px;
					color: $grey;
					font: 500 12px/16px $font;
					text-transform: uppercase;
				}

				dd {
					margin-inline-start: 0;
					color: $nightrider;
					font: 400 24px/32px $font;

					span {
						vertical-align: bottom;
						position: relative;
						bottom: -3px;
						font-size: 15px;
						font-weight: 500;
					}
				}
			}
		}

		&-section {
			margin: 0;
			padding: 0 #{$sui-gutter * 2} #{$sui-gutter * 2};

			&__header {
				margin: 0 0 15px;
				text-align: center;

				&:last-child {
					margin-bottom: 0;
				}

				h2 {
					font-family: $font;
					font-size: 28px;
					color: palette(gray, dark);
					line-height: 40px;
					margin-bottom: 0;
				}

				p {
					margin-top: 5px;
				}
			}

			&__container {
				max-width: 720px;
				margin: 0 auto;
			}
		}

		&-features {
			width: 100%;
			max-width: 1140px;
			margin: 0 auto;

			&__container {
				display: flex;
				flex-flow: row wrap;
				margin: -#{$sui-gutter};
			}

			&__item {
				flex: 50%;
				padding: $sui-gutter;

				dt {
					margin: 0;
					color: $nightrider;
					font: 700 18px/30px $font;
					letter-spacing: $font--letter-spacing;
				}

				dd {
					margin: 10px 0 0;
					margin-inline-start: 0;
				}

				[class*="sui-icon-"] {
					margin: 0 0 10px;
					padding: 12px;
					border-radius: 100%;
					background: $purple-ghost;
					text-align: center;

					&:before {
						width: 20px;
						height: 20px;
						display: block;
						margin: 0;
						color: $purple;
						font-size: 20px;
						line-height: 20px;
					}
				}
			}
		}
	}

	.sui-upgrade-page {
		background: #FAFAFA;
		margin: -30px -30px 60px;
		@media (max-width: 783px) {
			margin: -21px -10px 0;
		}
		&__container {
			max-width: 1140px;
			margin: auto;
			display: flex;
			@media (max-width: 800px) {
				flex-wrap: wrap;
			}
		}

		/** Header and Image **/
		&-header {
			background: $white;
			margin-bottom: 60px;
			@media (max-width: 600px) {
				margin-bottom: 40px;
			}
			&__content {
				padding: 60px 60px 60px 0;
				width: 50%;
				@media (max-width: 1440px) {
					padding: 60px 30px 50px 60px;
				}
				@media (max-width: 800px) {
					order: 1;
					width: 100%;
				}
				@media (max-width: 600px) {
					padding: 40px 20px;
				}
				h1 {
					font-size: 28px;
					font-family: $font;
				}
				p:first-of-type {
					margin-top: 10px;
				}
			}
			&__image {
				@if variable-exists(upgrade-image) {
					background-image: url($upgrade-image);
				}
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 50%;
				@media (max-width: 800px) {
					@if variable-exists(upgrade-image-mobile) {
						background-image: url($upgrade-image-mobile);
						width: 100%;
						order: 0;
						height: 250px;
					}
				}
			}
			.sui-reviews {
				margin-top: 60px;
				@media (max-width: 600px) {
					margin-top: 40px;
				}
			}
		}

		/** Pro Features **/
		&-featuresOld {
			&__header {
				text-align: center;

				h2 {
					font-family: $font;
					font-size: 28px;
					color: palette(gray, dark);
					line-height: 40px;
					margin-bottom: 0;
				}
				p {
					margin-top: 5px;
				}
			}
			&__items {
				display: flex;
				flex-wrap: wrap;
				padding: 30px;

				@media (min-width: 1440px) {
					margin: 0 -60px;
				}

				@media (max-width: 600px) {
					padding: 0;
					margin: 40px 0;
				}
			}
			&__item {
				flex: 0 0 50%;
				max-width: 50%;
				padding: 30px;

				@media (max-width: 600px) {
					flex: 0 0 100%;
					max-width: 100%;
					padding: 20px;
					text-align: center;
				}

				[class*="sui-icon-"] {
					height: 44px;
					width: 44px;
					text-align: center;
					background: palette(purple, light);
					border-radius: 50%;
					font-size: 20px;
					&:before {
						color: palette(purple);
						line-height: 44px;
					}
				}

				h3 {
					font-family: $font;
					margin-bottom: 0;
				}

				p:first-of-type {
					margin-top: 0;
				}
			}
		}

		/** CTA **/
		&-cta {
			background: $white;
			padding: 60px;
			margin-bottom: 60px;

			@media (max-width: 600px) {
				padding: 40px 20px;
				margin-bottom: 40px;
			}
			&__inner {
				max-width: 600px;
				margin: auto;
				text-align: center;
				h2 {
					font-family: $font;
					font-size: 28px;
					color: palette(gray, dark);
					line-height: 40px;
					margin-bottom: 0;
				}
				a {
					display: block;
					font-size: 13px;
					color: palette(gray, light);
					line-height: 22px;
					margin-top: 15px;
					&:focus,
					&:hover {
						color: palette(gray);
					}
				}
				.sui-hidden-desktop {
					display: none;
				}
				@media (max-width: 600px) {
					.sui-hidden-desktop {
						display: inline-block;
					}
					.sui-button:not(.sui-hidden-desktop) {
						display: none;
					}
				}
			}
		}
	}
}
