@include body-class($wrap: true, $rtl: false, $monochrome: false) {

	.sui-upsell {

		&__widget {

			&--footer {
				border-top: 0 !important;
				padding-top: 0 !important;
			}
		}

		&__list {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				position: relative;
				margin: 0 0 22px;
				padding: 0 0 0 26px;
				color: $nightrider;
				font: 500 15px/22px $font;
				letter-spacing: $font--letter-spacing;

				[class*="sui-icon-"] {
					display: block;
					position: absolute;
					top: 3px;
					left: 0;
					color: $purple;

					&:before {
						color: inherit;
						display: block;
					}
				}

				&:last-child {
					margin: 0;
				}
			}
		}
	}
}