<div id="wpadminbar" class="nojq">

	<div role="navigation" id="wp-toolbar" class="quicklinks" aria-label="Toolbar">

		<ul id="wp-admin-bar-root-default" class="ab-top-menu">

			<li id="wp-admin-bar-menu-toggle">

				<a class="ab-item" href="#" aria-expanded="false">
					<span class="ab-icon"></span>
					<span class="screen-reader-text">Menu</span>
				</a>

			</li>

			<li id="wp-admin-bar-rtl">

				<a role="button" href="#" title="Activate right-to-left content" class="ab-item">
					<span class="ab-icon"></span>
					<span class="ab-label">RTL Support</span>
				</a>

			</li>

			<li id="wp-admin-bar-accessibility">

				<a role="button" href="#" title="Activate color accessibility" class="ab-item">
					<span class="ab-icon"></span>
					<span class="ab-label">Color Accessibility</span>
				</a>

			</li>

		</ul>

		<ul id="wp-admin-bar-top-secondary" class="ab-top-secondary ab-top-menu">
			<li><span class="demo-sui-version">Version {{ site.suiver }}</span></li>
		</ul>

	</div>

</div>