<div id="adminmenumain" role="navigation" aria-label="Main menu">

	<div id="adminmenuback"></div>

	<div id="adminmenuwrap">

		<ul id="adminmenu">

			<li class="{% if page.url == '/' %}current{% endif %}">
				<a href="{{ '/' | relative_url }}" class="menu-top">
					<div class="wp-menu-name">Home</div>
				</a>
			</li>

			{% for parent in site.adminmenu %}

				{% assign parentlink = nil %}
				{% assign parentclass = nil %}

				{% for child in parent.children %}
					{% if forloop.first %}
						{% assign parentlink = child.url %}
					{% endif %}
					{% if page.url == child.url %}
						{% assign parentclass = 'current' %}
					{% endif %}
				{% endfor %}

				<li class="has-submenu {{ parentclass }}">
					<a href="{{ parentlink | relative_url }}" class="menu-top">
						<div class="wp-menu-name">{{ parent.name }}</div>
					</a>
					<ul class="wp-submenu wp-submenu-wrap">
						{% for child in parent.children %}
							{% assign childclass = nil %}
							{% if page.url == child.url %}
								{% assign childclass = 'current' %}
							{% endif %}

							<li class="{{ childclass }}">
								<a href="{{ child.url | relative_url }}">{{ child.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</li>

			{% endfor %}

		</ul>

	</div>

</div>