@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transform: none;
    }
}

@keyframes bounce-in-jiggle {
	0%   { transform: translateY(-200%) scale(1.5); opacity:0; }
	30%  { opacity:1; }
	58%  { transform: translateY(0) rotate(1deg) scale(1); opacity: 1 }
	72%  { transform: translateY(-30px) rotate(-1deg); }
	80%  { transform: translateY(0) rotate(0.5deg); }
	100% { transform: translateY(0) rotate(0deg); }
}
