@keyframes bounceOut {
    20% {
        transform: scale3d(.9, .9, .9);
    }
    50%, 55% {
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
}
@keyframes bounce-out-jiggle {
	0%   { transform: translateY(0); }
	10%  { transform: translateY(-10px) rotate(-0.5deg); }
	30%  { transform: translateY(20px) rotate(8deg); }
	70%  { opacity: 1; }
	90%  { transform: translateY(300%) translateX(40px) rotate(35deg); opacity: 0; }
	100% { display: none; }
}
