/**
 * Version: 5.3.2
 * Source: wp-includes/css/
 */

@import "./wordpress/dashicons";
@import "./wordpress-rtl/admin-bar";

/**
 * Version: 5.3.2
 * Source: wp-admin/css/
 */

@import "./wordpress-rtl/common";
@import "./wordpress-rtl/admin-menu";
@import "./wordpress-rtl/nav-menus";
@import "./wordpress-rtl/l10n";

/**
 * Showcase
 *
 * Add some custom styles for showcase admin bar.
 */
 #wpadminbar {

	#wp-admin-bar-rtl-language,
	#wp-admin-bar-color-accessibility {

		.ab-icon:before {
			content: "\f159";
			top: 2px;

			@media screen and (max-width: 782px) {
				width: 52px;
				height: 46px !important;
				display: block;
				top: -3px;
				line-height: 1.33333333;
				text-align: center;
			}
		}

		.ab-item {

			&.active {

				.ab-icon:before {
					content: "\f12a";
					color: #1abc9c;
				}
			}
		}

		@media screen and (max-width: 782px) {
			position: static;
		}
	}

	li#wp-admin-bar-rtl-language,
	li#wp-admin-bar-color-accessibility {

		@media screen and (max-width: 782px) {
			display: block;
		}
	}

	#wp-admin-bar-rtl-language {

		.ab-icon:before {

			@media screen and (max-width: 782px) {
				content: "\f222";
				top: -2px;
			}
		}

		.ab-item.active {

			.ab-icon:before {

				@media screen and (max-width: 782px) {
					content: "\f222";
				}
			}
		}
	}

	#wp-admin-bar-color-accessibility {

		.ab-icon:before {

			@media screen and (max-width: 782px) {
				content: "\f100";
			}
		}

		.ab-item.active {

			.ab-icon:before {

				@media screen and (max-width: 782px) {
					content: "\f100";
				}
			}
		}
	}
}