// Overwrite variables
$summary-image:         '../../dist/images/graphic-hb-minify-summary@2x.png';
$summary-image--height: 182px;

$sui-image-path:   '../../dist/images/';
$sui-font-path:    '../../dist/fonts/';

@import "../scss/shared-ui";