// Overwrite variables
$summary-image:    '../../dist/images/graphic-hb-minify-summary@2x.png';
$summary-image-sm: '../../dist/images/forminator-summary-sm@2x.png';
$summary-image--height: 182px;

$sui-image-path:         '../../dist/images/';
$sui-font-path:          '../../dist/fonts/';
$chartjs-image--loading: '../../dist/images/chartjs-stats@2x.png';

@import "../scss/shared-ui";