// Overwrite variables
$sui-image-path:         '../../dist/images/';
$sui-font-path:          '../../dist/fonts/';
$chartjs-image--loading: '../../dist/images/chartjs-stats@2x.png';

@import "../scss/shared-ui";