html,
body {
	height: 100%;
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	padding-top: 32px;

	@media screen and (max-width: 782px) {
		padding-top: 0;
	}
}

body {
	min-width: 600px;
	background-color: #F1F1F1;
	color: #444;
	font-size: 13px;
	line-height: 1.4em;

	div {
		display: block;
	}

	dd, li {
		margin-bottom: 6px;
	}

	.clear {
		clear: both;
	}

	#wpwrap {
		width: 100%;
		height: auto;
		min-height: 100%;
		position: relative;
		-webkit-font-smoothing: subpixel-antialiased;

		@media screen and (max-width: 782px) {
			-webkit-tap-highlight-color: rgba(0,0,0,0)!important;
		}
	}

	#adminmenu,
	#adminmenuback,
	#adminmenuwrap {
		width: 160px;
		background-color: #23282D;

		@media screen and (max-width: 782px) {
			width: 190px;
			position: absolute;
			z-index: 100;
		}
	}

	#adminmenuback {
		position: fixed;
		z-index: -1;
		top: 0;
		bottom: -120px;

		@media screen and (max-width: 782px) {
			display: none;
		}
	}

	#adminmenuwrap {
		float: left;
		position: fixed;
		z-index: 9990;

		@media screen and (max-width: 782px) {
			display: none;
		}
	}

	#adminmenu {
		clear: left;
		margin: 12px 0;
		padding: 0;
		list-style: none;

		* {
			user-select: none;
		}

		li {
			cursor: pointer;
			margin: 0;
			padding: 0;

			div.separator {
				height: 2px;
				padding: 0;
			}

			&.menu-top {
				min-height: 34px;
				position: relative;
				border: none;

				@media screen and (max-width: 782px) {
					width: 100%;
				}
			}

			&.wp-menu-separator {
				height: 5px;
				cursor: inherit;
				margin: 0 0 6px 0;
				padding: 0;
			}
		}

		a {
			display: block;
			padding: 2px 5px;
			color: #EEE;
			font-family: Arial, Helvetica, sans-serif;
			line-height: 18px;
			text-decoration: none;

			&:hover,
			&:focus {
				color: #00B9EB;
			}

			&.current {
				background: #0073AA;
				color: #FFFFFF;
			}
		}

		a.menu-top,
		.wp-submenu-head {
			padding: 0;
			font-size: 14px;
			line-height: 18px;
			font-weight: 400;

			@media screen and (max-width: 782px) {
				font-size: 16px;
				padding: 5px;
			}
		}

		div.wp-menu-name {
			padding: 8px;
		}

		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}

	#wpadminbar {
		width: 100%;
		height: 32px;
		min-width: 600px;
		direction: ltr;
		position: fixed;
		z-index: 99999;
		top: 0;
		left: 0;
		background: #23282D;
		color: #CCC;
		font-size: 13px;
		line-height: 32px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 400;

		* {
			width: auto;
			height: auto;
			position: static;
			margin: 0;
			padding: 0;
			border-radius: 0;
			box-sizing: content-box;
			text-shadow: none;
			text-transform: none;
			letter-spacing: normal;
			font-size: 13px;
			line-height: 32px;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: 400;
			-webkit-font-smoothing: subpixel-antialiased;
			transition: none;

			@media screen and (max-width: 782px) {
				font-size: 14px;
				font-weight: 400;
				font-family: Arial, Helvetica, sans-serif;
				line-height: 46px;
			}
		}

		div {
			box-shadow: none;
		}

		ul,
		ul li,
		.ab-sub-wrapper {
			clear: none;
			position: relative;
			z-index: 99999;
			margin: 0;
			padding: 0;
			background: 0 0;
			list-style: none;
			text-indent: 0;
		}

		ul {

			li {

				&:last-child,
				&:last-child .ab-item {
					box-shadow: none;
				}
			}
		}

		.quicklinks {

			ul {
				float: right;
				text-align: left;

				li {
					float: right;

					span {
						height: 32px;
						display: block;
						margin: 0;
						padding: 0 8px 0 7px;
						color: #EEE;

						@media screen and (max-width: 782px) {
							height: 46px;
							position: relative;
							color: #A0A5AA;
							white-space: nowrap;
						}
					}

					@media screen and (max-width: 782px) {
						float: right;
						display: block;
						position: static;
					}
				}

				@media screen and (max-width: 782px) {
					position: static;
				}
			}
		}

		@media screen and (max-width: 782px) {
			min-width: 300px;
			height: 46px;
			position: absolute;
			line-height: 46px;
		}
	}

	#wpcontent {
		height: 100%;
		margin-left: 160px;
		padding-left: 20px;

		#wpbody {
			position: relative;

			@media screen and (max-width: 782px) {
				padding-top: 46px;
			}
		}

		#wpbody-content {
			width: 100%;
			overflow: visible;
			float: left;
			padding-bottom: 65px;

			.wrap {
				margin: 10px 20px 0 2px;

				@media screen and (max-width: 782px) {
					margin-right: 12px;
					margin-left: 0;
				}
			}

			@media screen and (max-width: 782px) {
				padding-bottom: 100px;
			}
		}

		@media screen and (max-width: 782px) {
			position: relative;
			margin-left: 0;
			padding-left: 10px;
		}
	}

	// ELEMENT: Code Block
	.demo-code-block {
		margin: 0 0 30px;

		pre {
			border: 0;
			border-radius: 4px;
			background: #002F3E;
			color: #FFF;
			font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		}

		[data-clipboard-target] {
			background-color: rgba(255, 255, 255, 0.1);

			&:hover,
			&:focus {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}

		.hljs {
			background: #002F3E;
			color: #FFF;
		}

		.hljs-built_in,
		.hljs-selector-tag,
		.hljs-section,
		.hljs-link {
			color: #8BE9FD;
		}

		.hljs-subst,
		.hljs-tag {
			color: #DDD;
		}

		.hljs-title {
			color: #17A8E3;
		}

		.hljs-meta,
		.hljs-name,
		.hljs-type,
		.hljs-attr,
		.hljs-symbol,
		.hljs-bullet,
		.hljs-keyword,
		.hljs-addition,
		.hljs-variable,
		.hljs-template-tag,
		.hljs-template-variable {
			color: #FECF2F;
		}

		.php .hljs-string {
			color: #00B297;
		}

		.hljs-string {
			color: #D1F1EA;
		}

		.hljs-name {
			color: #17A8E3;
		}

		.hljs-comment,
		.hljs-quote,
		.hljs-deletion {
			color: #888888;
		}

		.hljs-keyword,
		.hljs-selector-tag,
		.hljs-literal,
		.hljs-title,
		.hljs-section,
		.hljs-doctag,
		.hljs-type,
		.hljs-name,
		.hljs-strong {
			font-weight: bold;
		}

		.hljs-literal,
		.hljs-number {
			color: #BD93F9;
		}

		.hljs-emphasis,
		.hljs-attr {
			font-style: italic;
		}

		&:last-child {
			margin: 0;
		}
	}

	@media screen and (max-width: 782px) {
		min-width: 240px;
		overflow-x: hidden;
	}
}

/*
body,
html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

html {
	overflow-x: hidden;
	padding-top: 32px;
	-webkit-font-smoothing: subpixel-antialiased;
}

body {
	position: relative;
	background: #f1f1f1;
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	min-width: 600px;
}

hr {
	border: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fafafa;
	margin: 30px 0;
}

#adminmenu {
	height: 100%;
	width: 160px;
	background-color: rgb(35, 40, 45);
	position: fixed;
	top: 0;
	margin-top: 30px;
	padding-bottom: 30px;
	overflow-y: auto;
}

#adminmenu ul {
	clear: left;
	margin: 12px 0;
	padding: 0 0 30px;
	list-style: none;
}

#adminmenu li {
	min-height: 34px;

	&:hover, &:focus {
		background-color: #191e23;
	}
}

#adminmenu a {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	padding: 8px 0 8px 10px;
	color: #eee;
	text-decoration: none;

	&:hover, &:focus {
		color: #00b9eb;
	}
}

#wpadminbar {
	direction: ltr;
	color: #ccc;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	height: 32px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 600px;
	z-index: 99999;
	background: #23282d;
	.demo-sui-version {
		line-height: 0;
	}
}

#wpadminbar * {
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	font-weight: 400;
}

#wpcontent {
	margin-left: 160px;
	height: 100%;
	padding-left: 20px;
}

#wpbody {
	padding-bottom: 25px;
}
.sui-wrap {
	section {
		position: relative;
		margin-bottom: 150px;

		&:after {
			content: '...';
			display: inline-block;
			color: rgba(0, 0, 0, .3);
			position: absolute;
			bottom: -100px;
			left: 0;
			right: 0;
			font-family: Georgia, Cambria, "Times New Roman", Times, serif;
			font-weight: 400;
			font-size: 30px;
			vertical-align: middle;
			letter-spacing: .6em;
			text-align: center;
			width: 100%;
			height: 45px;
		}

		&:last-child {
			margin-bottom: 0;

			&:after {
				display: none;
			}
		}

		.demo-code-block:last-child {
			margin-bottom: 0;
		}
	}
}
.demo-sui-version {
	display: block;
	padding: 0 8px 0 7px;
	float: right;
	color: #fff;
}

.demo-icons .demo-icon {
	position: relative;
	border-radius: 4px;
	padding: 0 15px;
	display: flex;
	align-items: center;
	line-height: 40px;
	height: 40px;
	color: #666;
	width: 100%;
	border: 0;
	background-color: transparent;
	font-size: inherit;
	cursor: pointer;
	outline: 0;

	i {
		width: 40px;
		text-align: right;
		color: #888;
	}
}

.demo-icons .demo-icon {
	&:hover, &:focus {
		background-color: #fff;
		box-shadow: 0 2px 0 #eaeaea;

		.demo-icon-name {
			color: #666;
		}

		i:before {
			font-size: 30px;
			vertical-align: -23%;
		}
	}
}
.sui-wrap.sui-color-accessible,
.sui-wrap {
	.demo-icon-name {
		padding-left: 15px;
	}

	.demo-box {
		background-color: #fff;
		display: block;
		margin-bottom: 30px;
	}

	.demo-table td {
		text-align: center;
	}

	.demo-table th small {
		display: block;
		margin-top: 5px;
		color: #777;
	}

	.demo-is-hidden {
		color: #ccc;
		background-color: #f9f9f9;
	}

	.demo-is-visible {
		background-color: #D1F1EA;
		color: #148F77;
	}

	.demo-grid-block {
		display: block;
		border-radius: 2px;
		background-color: #c4c4c4;
		color: #fff;
		text-align: center;
		padding: 15px 0;
		font-size: 12px;
		font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		//margin-bottom: 30px;
		box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1);
	}

	.demo-info-block {
		margin-bottom: 1em;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			margin-top: 1.6em;
			line-height: 1em;
		}
	}
}
@media only screen and (max-width: 960px) {
	#adminmenu {
		width: 36px;
	}

	#adminmenu a {
		text-indent: -160px;
		width: 36px;
	}

	#adminmenu a:after {
		content: '•';
		position: absolute;
		left: 175px;
	}

	#wpcontent {
		margin-left: 36px;
	}
}

@media screen and (max-width: 782px) {
	body {
		min-width: 240px;
	}

	#wpadminbar {
		min-width: 300px;
	}

	#adminmenu {
		display: none;
	}

	#wpcontent {
		position: relative;
		margin-left: 0;
		padding-left: 10px;
	}
}
.sui-wrap.sui-color-accessible,
.sui-wrap {
	.demo-code-block {
		margin-bottom: 30px;
	}

	.demo-code-block + .demo-info-block {
		margin-top: -1em;
	}

	.demo-code-block pre {
		background: #002F3E;
		color: #ffffff;
		border: 0;
		border-radius: 4px;
		font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	}

	.demo-code-block [data-clipboard-target] {
		background-color: rgba(255, 255, 255, .1);
	}

	.demo-code-block [data-clipboard-target]:hover,
	.demo-code-block [data-clipboard-target]:focus {
		background-color: rgba(255, 255, 255, .2);
	}

	.demo-code-block .hljs {
		background: #002F3E;
		color: #ffffff;
	}

	.hljs-built_in,
	.hljs-selector-tag,
	.hljs-section,
	.hljs-link {
		color: #8be9fd;
	}

	.hljs-subst,
	.hljs-tag {
		color: #dddddd;
	}

	.hljs-title {
		color: #17A8E3;
	}

	.hljs-meta,
	.hljs-name,
	.hljs-type,
	.hljs-attr,
	.hljs-symbol,
	.hljs-bullet,
	.hljs-keyword,
	.hljs-addition,
	.hljs-variable,
	.hljs-template-tag,
	.hljs-template-variable {
		color: #FECF2F;
	}

	.php .hljs-string {
		color: #00B297;
	}

	.hljs-string {
		color: #D1F1EA;
	}

	.hljs-name {
		color: #17A8E3;
	}

	.hljs-comment,
	.hljs-quote,
	.hljs-deletion {
		color: #888888;
	}

	.hljs-keyword,
	.hljs-selector-tag,
	.hljs-literal,
	.hljs-title,
	.hljs-section,
	.hljs-doctag,
	.hljs-type,
	.hljs-name,
	.hljs-strong {
		font-weight: bold;
	}

	.hljs-literal,
	.hljs-number {
		color: #bd93f9;
	}

	.hljs-emphasis,
	.hljs-attr {
		font-style: italic;
	}
}

// Responsive issues
@media ( max-width: 500px ) {
	section#grid,
	section#tooltips {
		overflow: hidden;
	}
}
#upgrade-page {
	.demo-info-block {
		margin-bottom: 60px;
	}
}
*/
