@use '../_mixins/bem' as *;

// MOD: Dashed button.
@mixin button-dashed {
	@include modifier('dashed') {
		border-style: dashed;

		&:focus {
			border-style: solid;
		}
	}
}

// MOD: Leading icon.
@mixin button-leading-icon {
	@include modifier('icon-leading') {
		.sui-button__icon {
			margin-right: 5px;
		}
	}
}

// MOD: Trailing icon.
@mixin button-trailing-icon {
	@include modifier('icon-trailing') {
		.sui-button__icon {
			margin-left: 5px;
		}
	}
}

// MOD: Loading state.
@mixin button-loading-state() {
	@include modifier('loading') {
		.sui-button__icon,
		.sui-button__label {
			opacity: 0;
		}

		.sui-button__loader {
			display: block;
		}
	}
}