@include body-class(true) {

	.demo-compare {
		display: flex;
		flex-direction: column-reverse;

		&__title {
			margin: 0;
			color: $nightrider;
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;

			&--do {
				color: $green;
			}

			&--dont {
				color: $red;
			}
		}

		&__header {
			border: 0 solid $nightrider;
			border-top-width: 10px;

			@include media(min-width, md) {
				margin: 20px 0 0;
			}

			&--do {
				border-color: $green;
			}

			&--dont {
				border-color: $red;
			}
		}

		&__body {
			padding: $sui-gutter-md;
			background-color: $smoke;

			@include media(min-width, md) {
				padding: $sui-gutter;
			}
		}
	}
}