@include body-class {

	.demo-code-block {
		margin: 0 0 30px;

		pre {
			border: 0;
			border-radius: $border-radius;
			background: palette(silver, light);
			color: palette(gray, dark);
			font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		}

		// [data-clipboard-target] {
		// 	background-color: rgba(255, 255, 255, 0.1);

		// 	&:hover,
		// 	&:focus {
		// 		background-color: rgba(255, 255, 255, 0.2);
		// 	}
		// }

		.hljs-comment,
		.hljs-quote,
		.hljs-variable {
			color: palette(gray, light);
		}

		.hljs-built_in,
		.hljs-keyword,
		.hljs-name,
		.hljs-selector-tag,
		.hljs-tag,
		.hljs-attr {
			color: #0052CC;
		}

		.hljs-addition,
		.hljs-attribute,
		.hljs-literal,
		.hljs-section,
		.hljs-string,
		.hljs-template-tag,
		.hljs-template-variable,
		.hljs-title,
		.hljs-type,
		.hljs-params {
			color: $green;
		}

		.hljs-deletion,
		.hljs-meta,
		.hljs-selector-attr,
		.hljs-selector-pseudo,
		.hljs-bullet,
		.hljs-link,
		.hljs-symbol {
			color: $blue;
		}

		.hljs-doctag {
			color: palette(gray, light);
		}

		.hljs-emphasis {
			font-style: italic;
		}

		.hljs-strong {
			font-weight: 700;
		}

		&:last-child {
			margin: 0;
		}
	}
}