@include body-class {

	.demo-col {
		height: 60px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		border-radius: 4px;
		background-color: #F9E1FF;
		color: #8D00B1;
		font: bold 10px/16px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		text-align: center;

		@media screen and (max-width: 782px) {
			height: 50px;
		}
	}
}