$showcase-colors: (
	cloud:        $cloud,
	haze:         $haze,
	smoke:        $smoke,
	silver:       $silver,
	overcast:     $overcast,
	fiftyshades:  $fiftyshades,
	grey:         $grey,
	ironmike:     $ironmike,
	nightrider:   $nightrider,
	blue:         $blue,
	green:        $green,
	yellow:       $yellow,
	red:          $red,
	purple:       $purple,
	blue-ghost:   $blue-ghost,
	green-ghost:  $green-ghost,
	yellow-ghost: $yellow-ghost,
	red-ghost:    $red-ghost,
	purple-ghost: $purple-ghost,
);

@include body-class(true) {

	.showcase-colors {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		margin: 0 -5px;

		.showcase-color {
			width: 110px;
			flex: 0 0 auto;
			margin: 0 0 20px;
			padding: 0 5px;
			border: 0;

			.showcase-color-preview {
				width: 100%;
				height: 80px;
				cursor: pointer;
				display: block;
				margin: 0 0 10px;
				padding: 0;
				border: 0;
				border-radius: $border-radius;

				@each $name, $palette in $showcase-colors {

					&.showcase-color-#{"" + $name} {
						background-color: $palette;
					}
				}

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}

			.showcase-color-name,
			.showcase-color-hex {
				display: block;
				font: 500 13px/22px $font;
				letter-spacing: -0.2px;
			}

			.showcase-color-name {
				color: $nightrider;
			}

			.showcase-color-hex {
				color: $grey;
			}
		}
	}
}