// Overwrite variables
$summary-image: '../images/forminator-summary-sm@2x.png';
$summary-image-sm: '../images/forminator-summary-sm@2x.png';

$upgrade-image: '../images/Hero@2x.png';
$upgrade-image-mobile: '../images/Hero_mobile@2x.png';

$sui-image-path: '../images/';
$sui-font-path: '../fonts/';
$chartjs-image--loading: '../images/chartjs-stats@2x.png';

// Promo banners for free footer
$cross-sell-1: 'smush';
$cross-sell-2: 'defender';
$cross-sell-3: 'smartcrawl';

@import '../shared-ui/shared-ui';
