<div id="wp-toolbar" class="quicklinks" role="navigation" aria-label="Toolbar">

	<ul id="wp-admin-bar-root-default" class="ab-top-menu">

		<li>
			<button id="wp-lang-mode--rtl" class="ab-item">
				<i aria-hidden="true"></i>
				RTL Support
			</button>
		</li>

		<li>
			<button id="wp-accessibility-mode--color" class="ab-item">
				<i aria-hidden="true"></i>
				Color Accessibility
			</button>
		</li>

	</ul>

	<ul id="wp-admin-bar-top-secondary" class="ab-top-secondary ab-top-menu">

		<li>
			<span class="demo-sui-version">Version 2.3.27</span>
		</li>

	</ul>

</div>