<div id="adminmenuback"></div>

<div id="adminmenuwrap">

	<ul id="adminmenu">

		<li class="current"><a href="/index.html" class="menu-top">
			<div class="wp-menu-name">Home</div>
		</a></li>

		<li class="has-submenu">

			<a href="/page-installation.html" class="menu-top">
				<div class="wp-menu-name">Setup</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-installation.html">Installation</a>
				</li>

				<li>
					<a href="/page-requirements.html">Requirements</a>
				</li>

			</ul>

		</li>

		<li class="has-submenu">

			<a href="/page-heading.html" class="menu-top">
				<div class="wp-menu-name">Basics</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-heading.html">Heading</a>
				</li>

				<li>
					<a href="/page-footer.html">Footer</a>
				</li>

				<li>
					<a href="/page-layout.html">Layout</a>
				</li>

				<li>
					<a href="/page-icons.html">Icons</a>
				</li>

			</ul>

		</li>

		<li class="has-submenu">

			<a href="/page-box-basics.html" class="menu-top">
				<div class="wp-menu-name">Containers</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-box-basics.html">Basic Box</a>
				</li>

				<li>
					<a href="/page-box-settings.html">Settings Box</a>
				</li>

				<li>
					<a href="/page-box-status.html">Status Box</a>
				</li>

				<li>
					<a href="/page-box-search.html">Search Box</a>
				</li>

				<li>
					<a href="/page-box-message.html">Message Box</a>
				</li>

			</ul>

		</li>

		<li class="has-submenu">

			<a href="/page-buttons.html" class="menu-top">
				<div class="wp-menu-name">Simple Elements</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-buttons.html">Buttons</a>
				</li>

			</ul>

		</li>

		<li class="has-submenu">

			<a href="/page-selectors.html" class="menu-top">
				<div class="wp-menu-name">Composite Elements</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-selectors.html">Selectors</a>
				</li>

			</ul>

		</li>

	</ul>

</div>