<div id="adminmenuback"></div>

<div id="adminmenuwrap">

	<ul id="adminmenu">

		<li class="current"><a href="/index.html" class="menu-top">
			<div class="wp-menu-name">Home</div>
		</a></li>

		<li class="has-submenu">

			<a href="/page-installation.html" class="menu-top">
				<div class="wp-menu-name">Setup</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-installation.html">Installation</a>
				</li>

				<li>
					<a href="/page-requirements.html">Requirements</a>
				</li>

			</ul>

		</li>

		<li class="has-submenu">

			<a href="/page-heading.html" class="menu-top">
				<div class="wp-menu-name">Basics</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-heading.html">Heading</a>
				</li>

				<li>
					<a href="/page-upgrade.html">Upgrade Page</a>
				</li>

				<li>
					<a href="/page-footer.html">Footer</a>
				</li>

				<li>
					<a href="/page-layout.html">Layout</a>
				</li>

				<li>
					<a href="/page-icons.html">Icons</a>
				</li>

			</ul>

		</li>

		<li class="has-submenu">

			<a href="/page-box-basics.html" class="menu-top">
				<div class="wp-menu-name">Containers</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-box-basics.html">Basic Box</a>
				</li>

				<li>
					<a href="/page-box-settings.html">Settings Box</a>
				</li>

				<li>
					<a href="/page-box-status.html">Status Box</a>
				</li>

				<li>
					<a href="/page-box-search.html">Search Box</a>
				</li>

				<li>
					<a href="/page-box-message.html">Message Box</a>
				</li>

			</ul>

		</li>

		<li class="has-submenu">

			<a href="/page-tables.html" class="menu-top">
				<div class="wp-menu-name">Simple Elements</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-tables.html">Tables</a>
				</li>

				<li>
					<a href="/page-scores.html">Scores</a>
				</li>

				<li>
					<a href="/page-progress.html">Progress Bar</a>
				</li>

				<li>
					<a href="/page-snippets.html">Code Snippets</a>
				</li>

				<li>
					<a href="/page-dropdowns.html">Dropdowns</a>
				</li>

				<li>
					<a href="/page-field-list.html">Field List</a>
				</li>

				<li>
					<a href="/page-trees.html">Tree Selectors</a>
				</li>

			</ul>

		</li>

		<li class="has-submenu">

			<a href="/page-labels.html" class="menu-top">
				<div class="wp-menu-name">Form Elements</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-labels.html">Labels</a>
				</li>

				<li>
					<a href="/page-inputs.html">Inputs</a>
				</li>

				<li>
					<a href="/page-password.html">Password</a>
				</li>

				<li>
					<a href="/page-textarea.html">Textarea</a>
				</li>

				<li>
					<a href="/page-radios.html">Radios</a>
				</li>

				<li>
					<a href="/page-checkbox.html">Checkbox</a>
				</li>

				<li>
					<a href="/page-select.html">Select</a>
				</li>

				<li>
					<a href="/page-buttons.html">Buttons</a>
				</li>

			</ul>

		</li>

		<li class="has-submenu">

			<a href="/page-selectors.html" class="menu-top">
				<div class="wp-menu-name">Composite Elements</div>
			</a>

			<ul class="wp-submenu wp-submenu-wrap">

				<li>
					<a href="/page-selectors.html">Selectors</a>
				</li>

				<li>
					<a href="/page-builder.html">Builder</a>
				</li>

				<li>
					<a href="/page-accordions.html">Accordions</a>
				</li>

			</ul>

		</li>

	</ul>

</div>