<div id="adminmenuback"></div>

<div id="adminmenuwrap">

	<ul id="adminmenu">

		<li><a href="/index.html" class="menu-top current">
			<div class="wp-menu-name">Home</div>
		</a></li>

		<li><a href="/page-installation.html" class="menu-top">
			<div class="wp-menu-name">Installation</div>
		</a></li>

		<li><a href="/page-heading.html" class="menu-top">
			<div class="wp-menu-name">Heading</div>
		</a></li>

		<li><a href="/page-footer.html" class="menu-top">
			<div class="wp-menu-name">Footer</div>
		</a></li>

	</ul>

</div>