// Primary Colors
$color-white: #FFFFFF;
$color-silver: #E1E1E1;
$color-blue: #17A8E3;
$color-royal-blue: #18485D;
$color-green: #1ABC9C;
$color-yellow: #F4B414;
$color-red: #C40000;
$color-gray: #666666;
$color-black: #000000;

// Light Colors
$color-red--light: #CB4B57;
$color-gray--light: #888888;

// Soft Colors
$color-silver--soft: #E6E6E6;
$color-yellow--soft: #FFF5D5;
$color-blue--soft: #D2F0FF;

// Dark Colors
$color-blue--dark: #0073A4;
$color-royal-blue--dark: #043045;
$color-gray--dark: #333333;
$color-silver--dark: #ADADAD;

// Other Colors
$color-silver--alt: #E9E9E9;
$color-yellow--alt: #FFCA00;
$color-gray--alt: #777771;