// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

$font: "Roboto", Arial, sans-serif;
$font--alt: "Roboto Condensed", "Roboto", Arial, sans-serif;
$font--opn: "Open Sans", Arial, sans-serif;
$font--src: "Source Code Pro", monospace;
$font--icons: 'WPMU-DEV-Icon', Arial, sans-serif;
$font--path: "../fonts" !default;