@use 'sass:map';
@use '../../_mixins/bem' as *;

@mixin button-size-constructor($type, $options, $props: null) {

	// MOD: Full width.
	@if $type == width {

		@each $value in $options {

			@if $value == full {
				@include modifier('full-width') {
					width: 100%;
					display: flex;
				}
			}

			@else {
				@include modifier('width-' + $value) {
					width: #{$value + 'px'};
				}
			}
		}
	}

	// MOD: Button sizes.
	@else if $type == height {

		@each $value in $options {
			$line-height: #{$value + 'px'};

			@if $props != null and map.has-key($props, line-height) {
				$line-height: #{($value - map.get($props, line-height)) + 'px'};
			}

			@include modifier('height-' + $value) {
				line-height: $line-height;
			}
		}
	}

	@else {
		@warn "The type #{$type} chosen doesn't match available options."
	}
}